force-app/main/default/flows/Aditivo_de_Comodato_Incrementa_pedidos_de_consumiveis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Aditivo de Comodato — Incrementa pedidos de consumíveis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aditivo de Comodato — Incrementa pedidos de consumíveis</label>
    <loops>
        <name>Cada_novo_consum_vel</name>
        <label>Cada novo consumível</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <collectionReference>Obter_consum_veis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_no_pedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cada_pedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Cada_pedido</name>
        <label>Cada pedido</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Pedidos_de_consum_veis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cada_novo_consum_vel</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_no_pedido</name>
        <label>Add no pedido</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Cada_novo_consum_vel</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Cada_pedido.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Cada_novo_consum_vel.Entrada_da_tabela_de_pre_os__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Cada_novo_consum_vel.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Cada_novo_consum_vel.Quantidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Cada_novo_consum_vel.Valor_unitario__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_consum_veis</name>
        <label>Obter consumíveis</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pedidos_de_consum_veis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aditivo_de_Comodato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consumivel_do_aditivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pedidos_de_consum_veis</name>
        <label>Pedidos de consumíveis</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cada_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </filters>
        <filters>
            <field>Demonstracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Comodato__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Natureza_de_Opera_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VENDA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_consum_veis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <object>Aditivo_de_Comodato__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
