force-app/main/default/flows/Ativo_do_Comodato_Verifica_duplicidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Encontrado</name>
        <label>Encontrado</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Esse ativo já está inserido em outro comodato não finalizado.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Se</name>
        <label>Se</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Encontrado0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ativos</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrado</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ativo do Comodato — Verifica duplicidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ativo do Comodato — Verifica duplicidade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ativos</name>
        <label>Ativos</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ativo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Comodato__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Comodato__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Produto_da_demonstracao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ativos</targetReference>
        </connector>
        <object>Produto_da_demonstracao__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
