force-app/main/default/flows/Atualiza_o_de_Projeto_Atualiza_vers_o_Trigger_exclus_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Contador</name>
        <label>Contador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Itens</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>incremento</name>
        <dataType>Number</dataType>
        <expression>{!Count} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>versao</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Count} &lt;= 9, 
    &quot;V&quot; &amp; TEXT(FLOOR({!Count}/1)) &amp; &quot;.&quot; &amp; TEXT(MOD({!Count}, 10)),
    &quot;V&quot; &amp; TEXT(FLOOR({!Count}/10)) &amp; &quot;.&quot; &amp; TEXT(MOD({!Count}, 10))
)</expression>
    </formulas>
    <interviewLabel>Atualização de Projeto — Atualiza versão | Trigger exclusão {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualização de Projeto — Atualiza versão | Trigger exclusão</label>
    <loops>
        <name>Atualiza_Itens</name>
        <label>Atualiza Itens</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtem_todas_as_Atualiza_es</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualiza_versao</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_todas_as_Atualiza_es</name>
        <label>Obtem todas as Atualizações</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projeto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Atualizacao_de_Projeto__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_versao</name>
        <label>Atualiza versao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Atualiza_Itens.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Versao__c</field>
            <value>
                <elementReference>versao</elementReference>
            </value>
        </inputAssignments>
        <object>Atualizacao_de_Projeto__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_todas_as_Atualiza_es</targetReference>
        </connector>
        <object>Atualizacao_de_Projeto__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
