force-app/main/default/flows/Backlog_Telas_de_cria_o_de_ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <dynamicChoiceSets>
        <name>opcoesPrioridade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prioridade__c</picklistField>
        <picklistObject>Backlog__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opcoesTipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo__c</picklistField>
        <picklistObject>Backlog__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>validaDescricao</name>
        <dataType>String</dataType>
        <expression>IF({!descricao.value} = &apos;&apos;, &apos;sem descrição&apos;, {!descricao.value})</expression>
    </formulas>
    <interviewLabel>Backlog - Telas de criação de ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Backlog - Telas de criação de ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_backlog</name>
        <label>Criar backlog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tela_de_confirma_o</targetReference>
        </connector>
        <faultConnector>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Atividade__c</field>
            <value>
                <elementReference>Atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atribuido__c</field>
            <value>
                <stringValue>003U400000Vmvv7IAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descricaoo_da_Atividade2__c</field>
            <value>
                <elementReference>validaDescricao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prioridade__c</field>
            <value>
                <elementReference>Prioridade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </inputAssignments>
        <object>Backlog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>tela_de_confirma_o</name>
        <label>tela de confirmação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textoSucesso</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Ticket cadastrado com sucesso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tela_de_Cria_o</name>
        <label>Tela de Criação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Criar_backlog</targetReference>
        </connector>
        <fields>
            <name>Atividade</name>
            <dataType>String</dataType>
            <fieldText>Atividade</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>opcoesTipo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Prioridade</name>
            <choiceReferences>opcoesPrioridade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Justificativa</name>
            <fieldText>Justificativa</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Prioridade</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Alto</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>descricao</name>
            <extensionName>c:richTextFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>telaErro</name>
        <label>telaErro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>mesangemErro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Erro ao criar o ticket&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tela_de_Cria_o</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
