force-app/main/default/flows/Cargo_Atualiza_cargos_filhos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>atribui_nome</name>
        <label>atribui nome</label>
        <locationX>138</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>subordinadosName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subordinados.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subordinados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>tem_flilho</name>
        <label>tem flilho?</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>joga lol</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_Filhos</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subordinados</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>tem_pai</name>
        <label>tem pai?</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>foi comprar cigarro</defaultConnectorLabel>
        <rules>
            <name>tem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_pai</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Busca_Filhos</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cargo — Atualiza cargos filhos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cargo — Atualiza cargos filhos</label>
    <loops>
        <name>subordinados</name>
        <label>subordinados</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <collectionReference>Busca_Filhos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>atribui_nome</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>atualiza_pai</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Filhos</name>
        <label>Busca Filhos daquele pai</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tem_flilho</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Cargo_Superior__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Busca_pai.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APROVADO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_pai</name>
        <label>Busca pai</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tem_pai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cargo_Superior__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APROVADO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualiza_pai</name>
        <label>atualiza pai</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>Cargos_Subordinados__c</field>
            <value>
                <elementReference>nomeConca</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_pai</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APROVADO</stringValue>
            </value>
        </filters>
        <object>Cargo__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>nomesConca</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!subordinadosName}</text>
    </textTemplates>
    <variables>
        <name>ListaPaiName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nomeConca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subordinadosName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
