force-app/main/default/flows/Caso_Notifica_Dpt_Servico.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_Dpt</name>
        <label>Notifica Dpt</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ids2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Novo caso</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>texto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>IDs</name>
        <label>IDs</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ids2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005i0000005fX0c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ids2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0055A00000Apun4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_Dpt</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Caso — Notifica Dpt Serviços {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caso — Notifica Dpt Serviço</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>departamento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Serviço</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>texto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Um(a) {!$Record.assunto__c} foi recebido(a).</text>
    </textTemplates>
    <variables>
        <name>ids2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
