force-app/main/default/flows/Comodato_Compartilha_com_gerente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Acionado</name>
        <label>Acionado</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>acc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acionado</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>IDE</name>
        <label>IDE</label>
        <locationX>1722</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>ID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005i0000005d2fF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>somaPMLS</name>
        <label>somaPMLS</label>
        <locationX>2602</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>qtdPMLS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>somaSU</name>
        <label>somaSU</label>
        <locationX>2338</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>qtdSurgical</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>somaUS</name>
        <label>somaUS</label>
        <locationX>2074</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>qtdUltrassom</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>somaVAD</name>
        <label>somaVAD</label>
        <locationX>2866</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>qtdVAD</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>somaVET</name>
        <label>somaVET</label>
        <locationX>1810</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>qtdVET</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C_pia_1_de_Linha</name>
        <label>PMLS</label>
        <locationX>1722</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>VET</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PMLSSS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qtdPMLS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compartilha_PMLS</targetReference>
            </connector>
            <label>PMLS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linha</name>
        <label>Linha</label>
        <locationX>2470</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VETERINARIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item.Produto__r.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VETERINÁRIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>somaVET</targetReference>
            </connector>
            <label>VETERINARIA</label>
        </rules>
        <rules>
            <name>ULTRASSOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item.Produto__r.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ULTRASSOM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>somaUS</targetReference>
            </connector>
            <label>ULTRASSOM</label>
        </rules>
        <rules>
            <name>SURGICAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item.Produto__r.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SURGICAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>somaSU</targetReference>
            </connector>
            <label>SURGICAL</label>
        </rules>
        <rules>
            <name>PMLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item.Produto__r.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>somaPMLS</targetReference>
            </connector>
            <label>PMLS</label>
        </rules>
        <rules>
            <name>VAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item.Produto__r.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIAS AÉREAS DIFÍCEIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>somaVAD</targetReference>
            </connector>
            <label>VAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>SUu</name>
        <label>SU</label>
        <locationX>1722</locationX>
        <locationY>1884</locationY>
        <defaultConnector>
            <targetReference>VAD_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Tema</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qtdSurgical</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SU</targetReference>
            </connector>
            <label>Tem</label>
        </rules>
    </decisions>
    <decisions>
        <name>US</name>
        <label>US</label>
        <locationX>1722</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>SUu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Tem1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qtdUltrassom</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compartilha_US</targetReference>
            </connector>
            <label>Tem</label>
        </rules>
    </decisions>
    <decisions>
        <name>VAD_1</name>
        <label>VAD</label>
        <locationX>1722</locationX>
        <locationY>2184</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Tem2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qtdVAD</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Compartilha_VAD</targetReference>
            </connector>
            <label>Tem</label>
        </rules>
    </decisions>
    <decisions>
        <name>VET</name>
        <label>VET</label>
        <locationX>1722</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Tem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qtdVET</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compartilha_Vet</targetReference>
            </connector>
            <label>Tem</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Comodato — Compartilha com gerente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comodato — Compartilha com gerente</label>
    <loops>
        <name>Item</name>
        <label>Item</label>
        <locationX>1722</locationX>
        <locationY>492</locationY>
        <collectionReference>Itens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Linha</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>C_pia_1_de_Linha</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_Compartilha_VAD</name>
        <label>Compartilha VAD</label>
        <locationX>1590</locationX>
        <locationY>2292</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>00GU4000000Z2mx</stringValue>
            </value>
        </inputAssignments>
        <object>Demonstracao__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Compartilha_PMLS</name>
        <label>Compartilha PMLS</label>
        <locationX>1590</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>VET</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>00G6e000005hyBT</stringValue>
            </value>
        </inputAssignments>
        <object>Demonstracao__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Compartilha_US</name>
        <label>Compartilha US</label>
        <locationX>1590</locationX>
        <locationY>1692</locationY>
        <connector>
            <targetReference>SUu</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>00G6e0000056TVc</stringValue>
            </value>
        </inputAssignments>
        <object>Demonstracao__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Compartilha_Vet</name>
        <label>Compartilha Vet</label>
        <locationX>1590</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>US</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>00G6e000005i1EV</stringValue>
            </value>
        </inputAssignments>
        <object>Demonstracao__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SU</name>
        <label>Compartilha SU</label>
        <locationX>1590</locationX>
        <locationY>1992</locationY>
        <connector>
            <targetReference>VAD_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>00GU4000000Z5fx</stringValue>
            </value>
        </inputAssignments>
        <object>Demonstracao__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Itens</name>
        <label>Itens</label>
        <locationX>1722</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comodato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consumivel_de_comodato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Acionado</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Valor_requerido_de_venda_mensal2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Demonstracao__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>UniqueName</name>
            <connector>
                <targetReference>Itens</targetReference>
            </connector>
            <label>..</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>acc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qtdPMLS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtdSurgical</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtdUltrassom</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtdVAD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtdVET</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
