force-app/main/default/flows/Comodato_Alerta_consum_veis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_wpp</name>
        <label>Envia wpp</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <actionName>sendWhatsapp.sendWpp</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>variaveis</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendWhatsapp.sendWpp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Seta</name>
        <label>Seta</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>variaveis.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>texto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variaveis.z0number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Solicitante__r.Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envia_wpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Vendeu</name>
        <label>Vendeu</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendas_no_mes_atual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Valor_requerido_de_venda_mensal2__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em comodato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_pendencia</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>prazo</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <name>texto</name>
        <dataType>String</dataType>
        <expression>&apos;O Comodato Nº &apos;+ {!$Record.Name} + &apos; encontra-se em situação mensal de consumo de consumíveis abaixo do esperado, dê andamento no pedido do mês.&apos;</expression>
    </formulas>
    <interviewLabel>Comodato — Alerta consumíveis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comodato — Alerta consumíveis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_pendencia</name>
        <label>Cria pendencia</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Seta</targetReference>
        </connector>
        <inputAssignments>
            <field>Assunto__c</field>
            <value>
                <stringValue>Venda de consumíveis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demonstracao__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departamento__c</field>
            <value>
                <stringValue>Comercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes__c</field>
            <value>
                <elementReference>texto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_Finalizacao__c</field>
            <value>
                <elementReference>prazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>$Record.Solicitante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Financeira</stringValue>
            </value>
        </inputAssignments>
        <object>Pendencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendas_no_mes_atual__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Demonstracao__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X10_dias</name>
            <connector>
                <targetReference>Vendeu</targetReference>
            </connector>
            <label>10 dias</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>variaveis</name>
        <apexClass>ExternalService__sendWhatsapp_sendWpp_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
