force-app/main/default/flows/Compras_Integra_PC_auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_o_Integra_PC_auto_1</name>
        <label>Ação Integra PC auto 1</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>integraPc.Integra PC auto</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>integra_PC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IdPedido</name>
            <value>
                <stringValue>a1b6e00000688CBAAY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>integraPc.Integra PC auto</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>integra_PC</name>
        <label>integra PC</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>getIntegraPc.Integra PC</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Atualiza_campos_PC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IdPC</name>
            <value>
                <stringValue>a1b6e00000688CBAAY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getIntegraPc.Integra PC</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Compras — Integra PC auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compras — Integra PC auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_Pedido_de_Compra_Em_Andamento</name>
        <label>Obtem Pedido de Compra Em Andamento</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_o_Integra_PC_auto_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_do_PC__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pedido_de_compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_campos_PC</name>
        <label>Atualiza campos PC</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_Pedido_de_Compra_Em_Andamento.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Log_de_integra_o__c</field>
            <value>
                <elementReference>A_o_Integra_PC_auto_1.2XX.data</elementReference>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Concluído</stringValue>
            </value>
        </filters>
        <object>Pedido_de_compra__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Obtem_Pedido_de_Compra_Em_Andamento</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
