force-app/main/default/flows/Contrato_de_Fornecimento_de_Insumo_Clausulas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>C_pia_2_de_Clausula_6_Editada</name>
        <label>Clausula 7 Editada</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Clausula_8_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_7_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_7_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_7</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_10_Editada</name>
        <label>Clausula 10 Editada</label>
        <locationX>182</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Clausula_11_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_9_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_10_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_10</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_11_Editada</name>
        <label>Clausula 11 Editada</label>
        <locationX>182</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>Clausula_12_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_10_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_11_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_11</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_12_Editada</name>
        <label>Clausula 12 Editada</label>
        <locationX>182</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Clausula_13_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_11_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_12_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_12</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_13_Editada</name>
        <label>Clausula 13 Editada</label>
        <locationX>182</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>Clausula_14_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_12_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_13_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_13</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_14_Editada</name>
        <label>Clausula 14 Editada</label>
        <locationX>182</locationX>
        <locationY>4523</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_13_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_14_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_14</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_1_Editada</name>
        <label>Clausula 1 Editada</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Clausula_2_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_1_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_1</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_2_Editada</name>
        <label>Clausula 2 Editada</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Clausula_3_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_2_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_2</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_3_Editada</name>
        <label>Clausula 3 Editada</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Clausula_4_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_3_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_3_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_3</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_4_Editada</name>
        <label>Clausula 4 Editada</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Clausula_5_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_4_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_4_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_4</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_5_Editada</name>
        <label>Clausula 5 Editada</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Clausula_6_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_5_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_5_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_5</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_6_Editada</name>
        <label>Clausula 6 Editada</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_Clausula_6_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_6_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_6_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_6</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_8_Editada</name>
        <label>Clausula 8 Editada</label>
        <locationX>182</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Clausula_9_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_8_de_N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_8_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_8</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clausula_9_Editada</name>
        <label>Clausula 9 Editada</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Clausula_10_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_oo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clausula_9_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clausula_9</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualifica_o_editada</name>
        <label>Qualificação editada</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Clausula_1_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qualificacao_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualificacao</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contrato de Fornecimento de Insumo — Cláusulas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrato de Fornecimento de Insumo — Cláusulas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clausula_1</name>
        <label>Clausula 1</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Clausula_2_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_1__c</field>
            <value>
                <elementReference>clausula1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_10</name>
        <label>Clausula 10</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Clausula_11_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_10__c</field>
            <value>
                <elementReference>clausula10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_11</name>
        <label>Clausula 11</label>
        <locationX>50</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>Clausula_12_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_11__c</field>
            <value>
                <elementReference>clausula11</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_12</name>
        <label>Clausula 12</label>
        <locationX>50</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>Clausula_13_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_12__c</field>
            <value>
                <elementReference>clausula12</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_13</name>
        <label>Clausula 13</label>
        <locationX>50</locationX>
        <locationY>4331</locationY>
        <connector>
            <targetReference>Clausula_14_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_13__c</field>
            <value>
                <elementReference>clausula13</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_14</name>
        <label>Clausula 14</label>
        <locationX>50</locationX>
        <locationY>4631</locationY>
        <inputAssignments>
            <field>Clausula_14__c</field>
            <value>
                <elementReference>clausula14</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_2</name>
        <label>Clausula 2</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Clausula_3_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_2__c</field>
            <value>
                <elementReference>clausula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_3</name>
        <label>Clausula 3</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Clausula_4_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_3__c</field>
            <value>
                <elementReference>clausula3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_4</name>
        <label>Clausula 4</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Clausula_5_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_4__c</field>
            <value>
                <elementReference>clausula4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_5</name>
        <label>Clausula 5</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>Clausula_6_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_5__c</field>
            <value>
                <elementReference>clausula5</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_6</name>
        <label>Clausula 6</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>C_pia_2_de_Clausula_6_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_6__c</field>
            <value>
                <elementReference>clausula6</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_7</name>
        <label>Clausula 7</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Clausula_8_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_7__c</field>
            <value>
                <elementReference>clausula7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_8</name>
        <label>Clausula 8</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Clausula_9_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_8__c</field>
            <value>
                <elementReference>clausula8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clausula_9</name>
        <label>Clausula 9</label>
        <locationX>50</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>Clausula_10_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Clausula_9__c</field>
            <value>
                <elementReference>clausula9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualificacao</name>
        <label>Qualificação</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Clausula_1_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Qualificacao__c</field>
            <value>
                <elementReference>qualificac_o</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Qualifica_o_editada</targetReference>
        </connector>
        <object>Contrato_de_Fornecimento_de_Insumo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>clausula1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 1 - DO OBJETO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;1.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; O presente contrato tem como objeto o fornecimento de insumos hospitalares que serão fornecidos pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; através de pedidos ou ordens de compra emitidos pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; durante a vigência deste contrato, de acordo com as condições e preços determinados através das propostas de vendas.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Parágrafo Único. &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Os preços dos insumos a serem adquiridos não incluem treinamento ou o equipamento para o efetivo uso, o que poderá ser adquirido pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; através de contrato de compra e venda individual.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula10</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 10 – DAS PRÁTICAS ANTICORRUPÇÃO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;10.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; As Partes obrigam-se a observar, cumprir e/ou fazer cumprir, por si, suas afiliadas (entidades controladoras, controladas, coligadas ou sob controle comum) e representantes (diretores, membros do conselho de administração, quaisquer terceiros, incluindo assessores ou prestadores de serviços) toda e qualquer lei anticorrupção, em especial a Lei Federal nº 12.846/13, conforme aplicável.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;10.2.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Na vigência deste contrato, a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; reconhece que nem ela, nem quaisquer de seus administradores, empregados, agentes, representantes, sócios ou acionistas deve dar, oferecer, pagar, prometer pagar, ou autorizar o pagamento, direta ou indiretamente, qualquer dinheiro ou coisa de valor a qualquer autoridade governamental, consultor, representante, parceiro, ou qualquer terceiro, com a finalidade de influenciar qualquer ato ou decisão de agentes ou entes governamentais (assim definidos nas Leis Anticorrupção Brasileiras), ou com objetivo de assegurar qualquer vantagem indevida ou direcionar negócios em violação às Leis Anticorrupção Brasileiras.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;10.3.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; A &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, se obriga a, em caso de eventual violação às Leis Anticorrupção Brasileiras, indenizar a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; por todos e quaisquer danos, incluindo multas, custos, obrigações de reparação de danos, taxas, juros, honorários advocatícios ou outras responsabilidades cíveis, criminais e/ou administrativas que sejam decorrentes de: (i) investigações sobre eventual quebra de integridade e/ou ato ilícito pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; ou de seus funcionários e prestadores de serviços e, (ii) qualquer litígio ou outro procedimento judicial ou administrativo envolvendo violação das Leis Anticorrupção Brasileiras em face da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; e que tenha sido originado a partir de qualquer ação ou omissão do(a) &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; seja diretamente ou por meio de seus administradores, empregados, agentes, representantes, terceiros e/ou sócios.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula11</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 11 - DA NECESSIDADE DE APROVAÇÃO EM ANÁLISE DE CRÉDITO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;11.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Declara a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;a ciência de que essas tratativas comerciais somente perdurarão mediante aprovação da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;em análise de crédito a ser realizada pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;e, ainda, tão somente mediante assinatura do presente instrumento por parte de pessoa com poderes para assinar pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula12</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 12 – ASSINATURA DIGITAL&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;12.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Caso o presente instrumento seja assinado de forma digital ou eletronicamente, cada parte declara e garante que sua assinatura digital ou eletrônica tem o mesmo efeito vinculativo que teria a assinatura manuscrita, possuindo caráter irrevogável e irretratável, sendo realizada através de plataforma de conhecida confiabilidade, estando as partes atentas ao disposto na Medida Provisória 2.200-2/2001 ou em outra legislação que venha a substituí-la.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula13</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 13 – PROTEÇÃO DE DADOS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;13.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; As partes, por si e por seus colaboradores, obrigam-se a atuar no presente contrato em conformidade com a Legislação vigente sobre Proteção de Dados Pessoais e as determinações de órgãos reguladores/fiscalizadores sobre a matéria, tudo conforme o que rege a Lei 13.709/2018. No que tange à utilização dos dados as partes deverão:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tratar os dados pessoais a que tiver acesso de acordo com o que a outra parte lhe direcionar sempre em conformidade com estas cláusulas. Para os casos em que for obrigada e não mais puder cumprir estas obrigações, por qualquer razão, concorda em informar de modo formal este fato à outra parte.&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Manter e utilizar medidas de segurança para que possa proteger a confidencialidade e integridade de todos os dados pessoais mantidos ou transmitidos eletronicamente, a fim de que possa garantir a proteção desses dados contra acesso não autorizado, destruição, uso, modificação, divulgação ou perda acidental ou indevida.&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Acessar os dados dentro de seu escopo e na medida abrangida pela autorização da outra parte, não podendo estes serem modificados sem expressa autorização da outra parte.&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Garantir, por si própria ou quaisquer de seus empregados, prepostos, sócios, diretores, representantes ou terceiros contratados, a confidencialidade dos dados processados, bem como a manter quaisquer Dados Pessoais estritamente confidenciais e de não os utilizar para outros fins, com exceção da prestação de serviços à outra parte.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula14</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 14 - DO FORO DO CONTRATO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;14.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Fica eleito como competente o foro da Comarca de Goiânia, Goiás, para solução de quaisquer dúvidas ou litígios decorrentes deste contrato, renunciando os contratantes a qualquer outro que tenham ou venham a ter, por mais privilegiado que seja.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Aptos, serif;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;As Partes e as testemunhas aceitam e declaram que o presente Contrato poderá ser assinado na forma eletrônica, com fundamento no Artigo 10, parágrafo 2º da MP 2200-2/2001, sendo as assinaturas consideradas válidas, vinculantes e executáveis. As Partes declaram, ainda, que o(s) e-mail(s) fornecido(s) pertence(m) ao seu(s) representantes(s) legal(is), sendo de uso único e exclusivo deste(s).&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 2 – DA VIGÊNCIA E FORMATO DE COMPRA&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;2.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; O presente contrato terá vigência de {!$Record.Prazo_de_vigencia__c} meses a partir da data de sua assinatura, podendo ser prorrogado mediante termo aditivo, por acordo prévio entre as partes.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;2.2.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; O formato de contratação é através da emissão de ordens de compra individuais para a aquisição pontual de insumos, devendo nelas constar o número do contrato de fornecimento continuado. A validade e manutenção do preço da ordem de compra depende do acompanhamento de proposta de preços emitida com até 10 dias corridos e anteriores à data de envio da ordem de compra objeto da venda.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;2.3.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Pedidos de venda encaminhados pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, já devidamente entregues e cuja embalagem esteja minimamente violada, não poderão ser cancelados em razão de seu uso hospitalar e impossibilidade de revenda. Pedidos de venda em curso de entrega ou já entregues à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, cuja embalagem não tenha sido minimamente violada e que o produto conste em perfeito estado, poderão ser devolvidos em até 7 dias do recebimento e acarretarão multa de 30% do valor do pedido para eventual ressarcimento de despesas em caso de devolução.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Parágrafo único: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A devolução proveniente de garantia deverá seguir as diretrizes dispostas no item 7.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLAUSULA 3 - FORMA DE PAGAMENTO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;3.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; O pagamento será realizado no formato identificado na proposta de preços encaminhada pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;e que acompanha a respectiva ordem de compras. Caracterizado o inadimplemento da forma de pagamento, a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; incorrerá em todos os encargos especificados no item 3.2.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;3.2.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Fica certo e ajustado que caso a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;não efetue o pagamento até a data de vencimento, serão aplicadas as seguintes sanções sobre cada ordem de compra ou pedido de compra não adimplido, calculadas sempre sobre o valor total da obrigação e até o efetivo pagamento:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Juros de mora a razão de 1% (um por cento) ao mês;&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Multa moratória de 2% (dois por cento) sobre o valor total da obrigação em atraso;&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Correção monetária, &quot;&lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;pró rata tempore&lt;/em&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot;, com base na variação do índice do INPC;&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Todas as despesas de cobrança, custas judiciais extrajudiciais e honorários advocatícios na monta de 10% sobre o valor total do débito;&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;3.3. &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Em caso de venda parcelada e inadimplemento de uma das parcelas acordadas na proposta e ordem de compra, ocorrerá o vencimento antecipado de todas as outras parcelas, com a consequente aplicação dos encargos contratuais mencionados acima.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;3.4.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Quando da liberação do(s) equipamento(s) pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, esta emitirá Nota Fiscal de Faturamento, o que acompanhará o(s) equipamento(s) no momento de entrega à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Em caso de ausência de assinatura da referida nota fiscal no momento da entrega, o referido aceite substituirá a assinatura da nota mencionada.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 4 - DO PREÇO E DO PAGAMENTO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;4.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Os preços dos insumos a serem fornecidos sob este contrato serão os constantes das propostas que devem acompanhar cada pedido de compra. Pedidos de compra emitidos e enviados após o prazo máximo de 15 dias anteriores ao envio da respectiva proposta de preços, serão desconsiderados e não poderão ser cumpridos em razão da volatilidade do dólar e consequentes custos administrativos.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 5 - CONDIÇÕES DE ENTREGA&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;5.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Cabe à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;preparar o local de instalação, se necessário, sendo que as partes no ato de assinatura deste instrumento consideram que o local de instalação já esteja disponível e pronto para tanto.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;5.2.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Caso a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;tenha a necessidade de prorrogar a data de liberação do local de entrega dos insumos, deverá comunicar à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;seu interesse por escrito, sendo que referida prorrogação deverá ser regulada por meio de aditamento a este documento, sendo que essa prorrogação poderá ser requerida uma única vez e o prazo de prorrogação não poderá ser superior a 30 (trinta) dias corridos.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;5.3.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Caso no momento da entrega a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;não esteja com o local de entrega pronto, as despesas de armazenagem passarão a correr por conta exclusiva da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Se a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;não assumir os custos de armazenagem, a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;poderá efetuar os pagamentos devidos, repassando as despesas à &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; para reembolso por esta no prazo de até 10 (dez) dias corridos contados do recebimento de comunicado escrito da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;nesse sentido.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula6</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 6 - DOS CUSTOS DE LOCOMOÇÃO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;6.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Os custos de locomoção do(s) equipamento(s) objeto do presente instrumento, correrão conforme especificado na proposta de venda que acompanha o pedido de compra.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula7</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 7 - DA GARANTIA DOS INSUMOS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;7.1&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Os insumos objeto deste instrumento são garantidos exclusivamente contra defeitos de fabricação para equipamentos durante 3 meses contados da data de entrega dos equipamentos.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Parágrafo Único: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Qualquer serviço relacionado à garantia do equipamento que se faça necessário durante o período de garantia acima informado deverá ser solicitado pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;ao time de serviços da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Solicitações de atendimento feitas através de qualquer outro canal não serão consideradas válidas, ficando a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;isenta da responsabilidade pelo não atendimento.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula8</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 8 - DA DESTINAÇÃO DO PRODUTO&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;8.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Sendo os produtos vendidos destinados ao uso de tratamento hospitalar, a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; declara ciência quanto a todos os riscos em caso de uso fora dos padrões e instruções estabelecidos pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, isentando-a de toda e qualquer responsabilidade de uso inadequado.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula9</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CLÁUSULA 9 - DA CIÊNCIA QUANTO AO USO DOS INSUMOS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;9.1.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Declara a &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;ciência quanto ao dever de adequado uso dos equipamentos objeto do contrato de compra e venda, bem como quanto ao dever de observância das orientações repassadas pela &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;quanto a não reutilização de insumos considerados descartáveis, devendo zelar sempre pela boa higiene e segurança do paciente tratado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;9.2.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; A &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; declara ciência quanto a ausência de responsabilidade da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATADA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; quanto ao uso inadequado dos equipamentos, dando ainda seu aceite quanto a sua exclusiva responsabilidade por eventuais riscos, perdas e danos ou quaisquer questionamentos ou responsabilidades administrativas ou judiciais advindas de atos decorrentes de imprudência, imperícia ou negligência da &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CONTRATANTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>qualificac_o</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;VENDEDORA: HOSPCOM EQUIPAMENTOS HOSPITALARES LTDA&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, pessoa jurídica de direito privado, inscrita no CNPJ sob N° 05.743.288/0001-08, sediada na Rua 104, N° 74, Setor Sul, Goiânia - GO, CEP 74083-300 e, de outro lado,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;COMPRADOR(A): {!$Record.Cliente__r.Raz_o_Social__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;, inscrita no CNPJ de n.º &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Cliente__r.CNPJ__c}, &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;sediada no endereço: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Cliente__r.BillingStreet}, {!$Record.Cliente__r.BillingCity} - {!$Record.Cliente__r.BillingState},&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; CEP: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Cliente__r.BillingPostalCode}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Têm entre si justo e acertado o presente contrato de compra e venda, que se regerá pelas cláusulas e condições a seguir delineadas.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
