force-app/main/default/flows/Contrato_de_Compra_Iguala_campos_fornecedor_e_contratado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>C_pia_1_de_Campo_vazio</name>
        <label>Campo vazio</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Comprador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comprador__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Atualiza</targetReference>
            </connector>
            <label>Comprador</label>
        </rules>
        <rules>
            <name>Contratante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contratante__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aatualiza</targetReference>
            </connector>
            <label>Contratante</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campo_vazio</name>
        <label>Campo vazio</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Campo_vazio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Fornecedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fornecedor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza</targetReference>
            </connector>
            <label>Fornecedor</label>
        </rules>
        <rules>
            <name>Contratado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contratado_a__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizaa</targetReference>
            </connector>
            <label>Contratado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contrato de Compra — Iguala campos fornecedor e contratado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrato de Compra — Iguala campos fornecedor e contratado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Aatualiza</name>
        <label>Atualiza</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Contratante__c</field>
            <value>
                <elementReference>$Record.Comprador__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza</name>
        <label>Atualiza</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>C_pia_1_de_Campo_vazio</targetReference>
        </connector>
        <inputAssignments>
            <field>Fornecedor__c</field>
            <value>
                <elementReference>$Record.Contratado_a__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizaa</name>
        <label>Atualiza</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>C_pia_1_de_Campo_vazio</targetReference>
        </connector>
        <inputAssignments>
            <field>Contratado_a__c</field>
            <value>
                <elementReference>$Record.Fornecedor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_Atualiza</name>
        <label>Atualiza</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Comprador__c</field>
            <value>
                <elementReference>$Record.Contratante__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campo_vazio</targetReference>
        </connector>
        <object>Contrato_de_compra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
