force-app/main/default/flows/Conta_notificacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_o_Enviar_notifica_o_personalizada_1</name>
        <label>Ação Enviar notificação personalizada 1</label>
        <locationX>286</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Revisão dados cadastrais</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>corpo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decis_o_1</name>
        <label>Decisão 1</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>verifica_se_est_vazio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>busca_equipe_financeiro</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>verifica se está vazio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>corpo</name>
        <dataType>String</dataType>
        <expression>&apos;É necessário sua revisão na conta &quot;&apos; + {!$Record.name} + &apos;&quot;. Clique aqui para visualizar o cadastro da empresa e fazer a revisão.&apos;</expression>
    </formulas>
    <interviewLabel>Conta — {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conta — notificação</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>286</locationX>
        <locationY>492</locationY>
        <collectionReference>busca_equipe_financeiro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_o_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>A_o_Enviar_notifica_o_personalizada_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>busca_equipe_financeiro</name>
        <label>busca equipe financeiro</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decis_o_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e5A000001yRA5QAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e6e000002JQTIAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e6e000002JQTIAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e31000001dwIYAAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05.743.288/0001-08</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05.743.288/0005-31</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05.743.288/0006-12</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05.743.288/0004-50	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40.014.621/0002-20	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40.014.621/0001-49	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40.014.621/0004-91	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40.014.621/0003-00	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>58.268.152/0001-50	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23.813.386/0001-56	</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>27.476.124/0001-02	</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Notifica_o_anual</name>
            <connector>
                <targetReference>busca_equipe_financeiro</targetReference>
            </connector>
            <label>Notificação anual</label>
            <offsetNumber>26</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Ultimo_ano__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
