force-app/main/default/flows/Conta_Obriga_anexo_para_fornecedores_qualificados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Alerta</name>
        <label>Alerta</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Para um fornecedor ser avaliado como &quot;Qualificado&quot; é obrigatório que seja anexados documentos para comprovar essa qualificação.
Exemplo: Anexar Alvará Sanitário, Alvará de Localização e Funcionamento, cartão CNPJ, etc...</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Verifica_se_achou_documentos</name>
        <label>Verifica se achou documentos</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>N_o_encontou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pega_documentos_anexados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta</targetReference>
            </connector>
            <label>Não encontou</label>
        </rules>
    </decisions>
    <description>Esse fluxo opera antes do salvamento de um registro e obriga o anexo de documentos para contas do tipo &quot;Fornecedor&quot; que estejam com o status de avaliação marcado como &quot;Qualificado&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Conta — {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conta — Obriga anexo para fornecedores qualificados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pega_documentos_anexados</name>
        <label>Pega documentos anexados</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifica_se_achou_documentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pega_documentos_anexados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qualificacaoProduto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qualificaAtendimento__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qualificaPrazo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Servi_o_de_garantia_do_fabricante__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
