force-app/main/default/flows/Contrato_de_Fornecimento_Cria_pedidos_de_compra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_data</name>
        <label>Add data</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>dataInicial</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>criado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_inicial</name>
        <label>Data inicial</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>dataInicial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_pedido_de_compra.Data_da_Compra__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataInicial</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Para</name>
        <label>Para</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>falha</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quantidade_de_meses</name>
        <label>Quantidade de meses</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>meses2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.qtdMeses__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>criado</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_inicial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniqueName</name>
        <label>-</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FAKE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fake</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Criados</name>
        <label>Criados</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Menor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>meses2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>criado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pedido</targetReference>
            </connector>
            <label>Menor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_dura_o</name>
        <label>Tipo de duração</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Cont_nuo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_dura_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contínuo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_pedido_de_compra</targetReference>
            </connector>
            <label>Contínuo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contrato de Fornecimento — Cria pedidos de compra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrato de Fornecimento — Cria pedidos de compra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Item_do_pedido</name>
        <label>Item do pedido</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Add_data</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fornecedor__c</field>
            <value>
                <elementReference>Pedido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_de_pedido_de_compra__c</field>
            <value>
                <elementReference>Item_do_PC.Item_de_pedido_de_compra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto2__c</field>
            <value>
                <elementReference>Item_do_PC.Produto2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>Item_do_PC.Quantidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_destinada__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_unitario__c</field>
            <value>
                <elementReference>Item_do_PC.Valor_unitario__c</elementReference>
            </value>
        </inputAssignments>
        <object>Item_de_fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pedido</name>
        <label>Pedido</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Item_do_pedido</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprador__c</field>
            <value>
                <elementReference>Obter_pedido_de_compra.Comprador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicao_de_Pagamento__c</field>
            <value>
                <elementReference>Obter_pedido_de_compra.Condicao_de_Pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_de_compra__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_da_Compra__c</field>
            <value>
                <elementReference>dataInicial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fornecedor__c</field>
            <value>
                <elementReference>Obter_pedido_de_compra.Fornecedor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes_Compra__c</field>
            <value>
                <stringValue>Pedido criado automaticamente a partir da aprovação do contrato de fornecimento vinculado.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pagamento_antecipado__c</field>
            <value>
                <elementReference>$Record.Pagamento_antecipado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pedido_de_compra__c</field>
            <value>
                <elementReference>Obter_pedido_de_compra.Pedido_de_compra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obter_pedido_de_compra.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_do_PC__c</field>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Frete__c</field>
            <value>
                <elementReference>Obter_pedido_de_compra.Tipo_de_Frete__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Item_do_PC</name>
        <label>Item do PC</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quantidade_de_meses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fornecedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_pedido_de_compra.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Item_de_fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_pedido_de_compra</name>
        <label>Obter pedido de compra</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_do_PC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Para</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contrato_de_compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_dura_o</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aprovado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contrato_de_compra__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>criado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>dataInicial</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FAKE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>falha</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>meses</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>meses2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
