force-app/main/default/flows/Conta_Doc_Paralegal_notifica_sobre_vencimento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_qualidade</name>
        <label>Notifica qualidade</label>
        <locationX>50</locationX>
        <locationY>2568</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>qualidade@hospcom.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>assunto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Corpo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Atribui_nome_da_conta</name>
        <label>Atribui nome da conta</label>
        <locationX>270</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>NomeEmpresas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_C_pia_1_de_Uma_data_vencendo</name>
        <label>Cópia 1 de Cópia 1 de Uma data vencendo</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>temAlgumDocProximoDoVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_venc_CREA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_C_pia_2_de_Uma_data_vencendo</name>
        <label>Cópia 1 de Cópia 2 de Uma data vencendo</label>
        <locationX>270</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>temAlgumDocProximoDoVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_Verifica_venc_Alvara_Localizacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Uma_data_vencendo</name>
        <label>Cópia 1 de Uma data vencendo</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>temAlgumDocProximoDoVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_venc_CB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_C_pia_1_de_C_pia_2_de_Uma_data_vencendo</name>
        <label>Cópia 2 de Cópia 1 de Cópia 2 de Uma data vencendo</label>
        <locationX>270</locationX>
        <locationY>1884</locationY>
        <assignmentItems>
            <assignToReference>temAlgumDocProximoDoVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decis_o_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Uma_data_vencendo</name>
        <label>Cópia 2 de Uma data vencendo</label>
        <locationX>270</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>temAlgumDocProximoDoVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_venc_Alvara_Localizacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uma_data_vencendo</name>
        <label>Uma data vencendo</label>
        <locationX>270</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>temAlgumDocProximoDoVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_venc_Alvara_Sanitario</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Achou_alguma_empresa</name>
        <label>Achou alguma empresa</label>
        <locationX>182</locationX>
        <locationY>2460</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NomeEmpresas</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_qualidade</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_1_de_Verifica_venc_Alvara_Localizacao</name>
        <label>Cópia 1 de Verifica venc Alvara Localizacao</label>
        <locationX>402</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>Decis_o_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_4_de_Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.venc_Licenca_Ambiental__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.venc_Licenca_Ambiental__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_C_pia_1_de_C_pia_2_de_Uma_data_vencendo</targetReference>
            </connector>
            <label>Cópia 4 de Encontrou</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decis_o_7</name>
        <label>Verifica se tem alguma data proxima</label>
        <locationX>402</locationX>
        <locationY>2076</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Decis_o_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>temAlgumDocProximoDoVencimento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_nome_da_conta</targetReference>
            </connector>
            <label>Resultado 1 de Decisão 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_venc_Alvara_Localizacao</name>
        <label>Verifica venc Alvara Localizacao</label>
        <locationX>402</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_Verifica_venc_Alvara_Localizacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_3_de_Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.venc_Alv_Localizacao__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VerificaData</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.venc_Alv_Localizacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_C_pia_2_de_Uma_data_vencendo</targetReference>
            </connector>
            <label>Encontrou</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_venc_Alvara_Sanitario</name>
        <label>Verifica venc Alvara Sanitario</label>
        <locationX>402</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Verifica_venc_Alvara_Localizacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.venc_Alv_Sanitario__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VerificaData</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.venc_Alv_Sanitario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Uma_data_vencendo</targetReference>
            </connector>
            <label>Encontrou</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_venc_CB</name>
        <label>Verifica venc CB</label>
        <locationX>402</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Verifica_venc_Alvara_Sanitario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.venc_C_Bombeiros__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VerificaData</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.venc_C_Bombeiros__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uma_data_vencendo</targetReference>
            </connector>
            <label>Cópia 1 de Encontrou</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_venc_CREA</name>
        <label>Verifica venc CREA</label>
        <locationX>402</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Verifica_venc_CB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Decis_o_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.venc_CREA__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VerificaData</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.venc_CREA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Uma_data_vencendo</targetReference>
            </connector>
            <label>Encontrou</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VerificaData</name>
        <dataType>Date</dataType>
        <expression>(TODAY() + 7)</expression>
    </formulas>
    <interviewLabel>Conta — Doc Paralegal notifica sobre vencimento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conta — Doc Paralegal notifica sobre vencimento</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Buscar_documentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>C_pia_1_de_C_pia_1_de_Uma_data_vencendo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Achou_alguma_empresa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_documentos</name>
        <label>Buscar documentos</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 OR 4 OR 5))</filterLogic>
        <filters>
            <field>GrupoHospcom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>venc_Alv_Localizacao__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>venc_C_Bombeiros__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Venc_Alvar_sanit_rio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>venc_CREA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_documentos</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-08</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>assunto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Documentação Paralegal próxima do vencimento.</text>
    </textTemplates>
    <textTemplates>
        <name>Corpo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>----------------------------------------------------------------------------------------------------

A(s) empresa(s) {!NomeEmpresas} contém documentos próximos do vencimento.

----------------------------------------------------------------------------------------------------</text>
    </textTemplates>
    <variables>
        <name>DatasdeVencimentos</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NomeEmpresas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>temAlgumDocProximoDoVencimento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
