force-app/main/default/flows/Cota_o_de_compra_notofoca_comprador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_comprador</name>
        <label>Notifica comprador</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Atribui_o_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>COTAÇÃO DE COMPRA </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_comprador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_2</name>
        <label>Atribuição 2</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ASDFASDFASD</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Corpo</name>
        <dataType>String</dataType>
        <expression>&quot;A contação de compra &apos;&quot;+ {!$Record.Name} + &quot;&apos;  foi reprovada. Clique aqui para ter mais informações .&quot;</expression>
    </formulas>
    <interviewLabel>Cotação de compra — notofoca comprador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotação de compra — notofoca comprador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_o_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6 - Reprovado</stringValue>
            </value>
        </filters>
        <object>Pedido_de_compra__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
