force-app/main/default/flows/Cotacao_Finalizada_Atualizar_Status_P_C.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Cotação Finalizada — Atualizar Status P.C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotação Finalizada — Atualizar Status P.C</label>
    <loops>
        <name>Pedido_de_Compra_Atual</name>
        <label>Pedido de Compra Atual</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Obter_Pedido_de_Compra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualizar_Pedido_de_Compra</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Pedido_de_Compra</name>
        <label>Obter Pedido de Compra</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pedido_de_Compra_Atual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pedido_de_compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_do_PC__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Pedido_de_Compra</name>
        <label>Atualizar Pedido de Compra</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Pedido_de_Compra_Atual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pedido_de_Compra_Atual.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_do_PC__c</field>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Pedido_de_Compra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Concluído</stringValue>
            </value>
        </filters>
        <object>Pedido_de_compra__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
