force-app/main/default/flows/Cria_Dados_Colaborador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notifica Erro do Fluxo para a Gyselle e Desenvolvimento</description>
        <name>Notifica_Erro_Att</name>
        <label>Notifica Erro Att</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Erro_ao_Criar_ou_Atualizar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDsdaNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Erro Fluxo - Erro ao atualizar CPF em dados do colaborador</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificaGyselle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>LinkdoFluxo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Notifica Erro do Fluxo para a Gyselle e Desenvolvimento</description>
        <name>Notifica_Erro_Cria_e_Atribui</name>
        <label>Notifica Erro Cria e Atribui</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Erro_ao_Criar_ou_Atualizar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDsdaNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Erro Fluxo - Erro ao criar dados do colaborador</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificaGyselle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>LinkdoFluxo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Notifica Erro do Fluxo para a Gyselle e Desenvolvimento</description>
        <name>Notifica_Erro_Limpar_CPF</name>
        <label>Notifica Erro Limpar CPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDsdaNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Erro Fluxo - Erro ao apagar CPF no contato.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificaGyselle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>LinkdoFluxo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>Pega o CPF inserido e armazena.</description>
        <name>Atribui_CPF</name>
        <label>Atribui CPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CPF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_dados_do_colaborador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ids: Gyselle e Desenvolvimento</description>
        <name>Atribui_IDs_Notifica_o</name>
        <label>Atribui IDs Notificação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IDsdaNotificacao</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005U400000AkKZ3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDsdaNotificacao</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00531000006UzZs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribui_Link_do_Fluxo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Link_do_Fluxo</name>
        <label>Atribui Link do Fluxo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LinkdoFluxo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>https://hospcom.lightning.force.com/builder_platform_interaction/flowBuilder.app?flowId=301U400000VTfSuIAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sucesso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_ok</name>
        <label>Atribui ok</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>controle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ok</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Erros</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribui_IDs_Notifica_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Ok_2</name>
        <label>Atribui Ok 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>controle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ok</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Erros</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribui_IDs_Notifica_o</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Mostra erro ao usuário.</description>
        <name>Erro_ao_Criar_ou_Atualizar</name>
        <label>Erro ao Criar ou Atualizar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Erro ao criar ou atualizar dados do colaborador, por favor, comunique ao Desenvolvimento.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Mensagem de erro na tela do usuário que indica falha ao apagar CPF do contato.</description>
        <name>Erro_ao_limpar_campo_CPF</name>
        <label>Erro ao limpar campo CPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notifica_Erro_Limpar_CPF</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Erro ao limpar o campo CPF, por favor, apague-o manualmente. O CPF é um dado sensível e não deve permanecer visível no contato.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CPF_Existe</name>
        <label>CPF Existe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPF__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_CPF</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Erro_1_ou_2</name>
        <label>Erro 1 ou 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Notifica_Erro_Cria_e_Atribui</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erro 2</defaultConnectorLabel>
        <rules>
            <name>Erro_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Erros</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica_Erro_Att</targetReference>
            </connector>
            <label>Erro 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sucesso</name>
        <label>Sucesso?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Erro_1_ou_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>controle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ok</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limpa_campo_CPF</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_se_existe</name>
        <label>Verifica se existe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cria_e_atribui</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não existe</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Verifica_se_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_dados_do_colaborador</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_registros_1</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <description>Cria Dados do Colaborador a partir da atualização do campo CPF em Contato.</description>
    <environments>Default</environments>
    <interviewLabel>Cria Dados Colaborador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria Dados Colaborador — CPF do Contato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_e_atribui</name>
        <label>Cria e atribui</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_ok</targetReference>
        </connector>
        <inputAssignments>
            <field>CPF__c</field>
            <value>
                <elementReference>CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contato__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dados_colaborador__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_dados_do_colaborador</name>
        <label>Obter dados do colaborador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifica_se_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dados_colaborador__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_registros_1</name>
        <label>Atualiza Dados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_Ok_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPF__c</field>
            <value>
                <elementReference>CPF</elementReference>
            </value>
        </inputAssignments>
        <object>Dados_colaborador__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Limpa_campo_CPF</name>
        <label>Limpa campo CPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Erro_ao_limpar_campo_CPF</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CPF__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CPF_Existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPF__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001i00000085QYbAAM</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Notifica que deu erro no fluxo</description>
        <name>NotificaGyselle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O Fluxo Cria Dados Colaborador - CPF do Contato, apresentou erro ao tentar criar, inserir ou atualizar dados do colaborador.
Informações: {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <description>Variável para controlar log do fluxo</description>
        <name>controle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>erro</stringValue>
        </value>
    </variables>
    <variables>
        <name>CPF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Erros relacionados a criação, inserção ou atualização de dados do colaborador.</description>
        <name>Erros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>IDs= Gyselle e Desenvolvimento</description>
        <name>IDsdaNotificacao</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkdoFluxo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
