force-app/main/default/flows/Em_rota_Notifica_vendedor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_p_vendedor</name>
        <label>Envia p vendedor</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>sendWhatsapp.sendWpp</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>variaveis</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendWhatsapp.sendWpp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Vari_veis</name>
        <label>Variáveis</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>variaveis.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notificacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variaveis.z0number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nota_Fiscal__r.Pedido__r.Vendedor__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envia_p_vendedor</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Em rota — Notifica vendedor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Em rota — Notifica vendedor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Em_rota_Pedidos__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_min</name>
            <connector>
                <targetReference>Vari_veis</targetReference>
            </connector>
            <label>2 min</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificacao</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Prezado(a),
Uma nova rota de viagem com data de saída em: {!$Record.Rota_de_Viagem__r.Data_de_saida__c} e previsão de chegada em: {!$Record.Rota_de_Viagem__r.Previsao_de_chegada__c} foi criada para a nota fiscal nº {!$Record.Nota_Fiscal__r.Name}, referente ao pedido {!$Record.Nota_Fiscal__r.Pedido__r.OrderNumber} — {!$Record.Nota_Fiscal__r.Pedido__r.Nome_da_conta__c}. Acesso à rota: https://hospcom.my.site.com/Sales/s/rota-de-viagem/{!$Record.Rota_de_Viagem__r.Id}</text>
    </textTemplates>
    <variables>
        <name>variaveis</name>
        <apexClass>ExternalService__sendWhatsapp_sendWpp_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
