force-app/main/default/flows/EnviarMsgGrupo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Enviar mensagem para o whatsapp</description>
        <name>EnviarMsgWhats</name>
        <label>EnviarMsgWhats</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>enviarmsg.enviarmsg</actionName>
        <actionType>externalService</actionType>
        <faultConnector>
            <targetReference>falha_ao_enviar_link</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>link</name>
            <value>
                <elementReference>$Record.Link_da_Imagem__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <apexValue>{   &quot;link&quot;: &quot;{!varLinkImagem}&quot;,   &quot;message&quot;: &quot;teste&quot; }</apexValue>
            </value>
        </inputParameters>
        <nameSegment>enviarmsg.enviarmsg</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>linkimgdataone</name>
        <label>linkimgdataone</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varLinkImagem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Link_da_Imagem__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnviarMsgWhats</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>falha_ao_enviar_link</name>
        <label>falha ao enviar link</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <customErrorMessages>
            <errorMessage>{!EnviarMsgWhats}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>Enviar link da imagem do comunicado para o whatsapp</description>
    <environments>Default</environments>
    <interviewLabel>EnviarMsgGrupo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EnviarMsgGrupo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Comunicado__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Enviar_msg_grupo</name>
            <connector>
                <targetReference>linkimgdataone</targetReference>
            </connector>
            <label>Enviar msg grupo</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>linkimg</name>
        <apexClass>ExternalService__enviarmsg_enviarmsg_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>link imagem</description>
        <name>varLinkImagem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
