force-app/main/default/flows/Evento_Cria_despesas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <interviewLabel>Evento - Cria despesas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evento - Cria despesas</label>
    <loops>
        <name>Criar_Despesa</name>
        <label>Criar Despesa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Requisi_es</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cria_a_Despesa</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_a_Despesa</name>
        <label>Cria a Despesa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criar_Despesa</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Evento__c</field>
            <value>
                <elementReference>Criar_Despesa.Evento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo__c</field>
            <value>
                <elementReference>tipoDespesa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>tipoDespesa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor__c</field>
            <value>
                <elementReference>Criar_Despesa.Totaliza_o__c</elementReference>
            </value>
        </inputAssignments>
        <object>Despesa__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_Requisi_es</name>
        <label>Obter Requisições</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criar_Despesa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Evento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requisi_o_Interna__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Requisi_es</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tipoDespesa</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Despesa criada para a requisição {!Criar_Despesa.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Valortotaldadespesa</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>valorTotalRequisicao</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
