force-app/main/default/flows/faturamento_hospcom_para_GDB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>acao_data</name>
        <label>acao data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>hospprdd.hospprd</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>numero</name>
            <value>
                <elementReference>numero</elementReference>
            </value>
        </inputParameters>
        <nameSegment>hospprdd.hospprd</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>variavel</name>
        <label>variavel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>faturamentofeito</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Faturamento_Feito2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gdb</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Nome_da_Conta2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numero</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Pedido__r.Numero_do_Pedido__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decis_o</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decis_o</name>
        <label>decisão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>decidir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Faturamento_Feito2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>faturamentofeito</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nome_da_Conta2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>gdb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acao_data</targetReference>
            </connector>
            <label>decidir</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>faturamento - hospcom para GDB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>faturamento - hospcom para GDB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Faturamento__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>acao11</name>
            <connector>
                <targetReference>variavel</targetReference>
            </connector>
            <label>acao11</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>faturamentofeito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gdb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
