force-app/main/default/flows/Finalizado_parcial_ou_total.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Canc</name>
        <label>Cancelados</label>
        <locationX>1062</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Cancel</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Totais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecParciais</name>
        <label>RecParciais</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecebidoParcial</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Totais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecTotais</name>
        <label>RecTotais</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecebidoTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Totais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tot_Cancel</name>
        <label>Tot-Cancel</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>TotalMenosCancelado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalMenosCancelado</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Cancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Pc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Totais</name>
        <label>Totais</label>
        <locationX>930</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Tot</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itens</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contagem</name>
        <label>Contagem</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Totais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Recebidos_Totais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Itens.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECEBIDO TOTAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecTotais</targetReference>
            </connector>
            <label>Recebidos Totais</label>
        </rules>
        <rules>
            <name>Recebidos_Parciais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Itens.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECEBIDO PARCIAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecParciais</targetReference>
            </connector>
            <label>Recebidos Parciais</label>
        </rules>
        <rules>
            <name>Cancelados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Itens.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancelados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canc</targetReference>
            </connector>
            <label>Cancelados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Pc</name>
        <label>Status Pc</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tot</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CanceladoStatus</targetReference>
            </connector>
            <label>Cancelado</label>
        </rules>
        <rules>
            <name>Recebido_parcial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecebidoParcial</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecebidoParcial</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalMenosCancelado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fornecedor__r.Status_do_PC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recebido Parcial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Cancelado</targetReference>
            </connector>
            <label>Recebido parcial</label>
        </rules>
        <rules>
            <name>Recebido_total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecebidoTotal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalMenosCancelado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fornecedor__r.Status_do_PC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recebido Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_RecParcial</targetReference>
            </connector>
            <label>Recebido total</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Entregue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finalizado parcial ou total</label>
    <loops>
        <name>Itens</name>
        <label>Itens</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <collectionReference>Itens_Pedido_de_Compra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contagem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tot_Cancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Itens_Pedido_de_Compra</name>
        <label>Itens Pedido de Compra</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fornecedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fornecedor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Item_de_fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>C_pia_1_de_Cancelado</name>
        <label>RecParcial</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fornecedor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_do_PC__c</field>
            <value>
                <stringValue>Finalizado parcial</stringValue>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_RecParcial</name>
        <label>RecTotal</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fornecedor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_do_PC__c</field>
            <value>
                <stringValue>Finalizado total</stringValue>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CanceladoStatus</name>
        <label>Cancelado</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fornecedor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_do_PC__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Itens_Pedido_de_Compra</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Quantidade_recebida2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CANCELADO</stringValue>
            </value>
        </filters>
        <object>Item_de_fornecedor__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Cancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecebidoParcial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecebidoTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Tot</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalMenosCancelado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
