force-app/main/default/flows/Financiamento_reprova_es.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_o_Enviar_notifica_o_personalizada_1</name>
        <label>Ação Enviar notificação personalizada 1</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>C_pia_1_de_A_o_Enviar_notifica_o_personalizada_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IdAnalisereprovado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Análise reprovada </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corponotificanova</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_1_de_A_o_Enviar_notifica_o_personalizada_1</name>
        <label>Cópia 1 de Ação Enviar notificação personalizada 1</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Decis_o</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>proprietario_vendedor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Análise reprovada </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>corpovendedor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>atribui_gerente_BSB</name>
        <label>atribui gerente BSB</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IdAnalisereprovado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Regiao_bsb</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compartilha_com_gerente_nacional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribui_gerente_centro_oeste_Atribui_o_1</name>
        <label>atribui gerente centro-oeste</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IdAnalisereprovado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Regiao_centro_oeste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compartilha_com_gerente_nacional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribui_gerente_Norte</name>
        <label>atribui gerente Norte</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IdAnalisereprovado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Regiao_norte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compartilha_com_gerente_nacional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribui_gerente_Suldeste</name>
        <label>atribui gerente Suldeste</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IdAnalisereprovado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Regiao_sul</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compartilha_com_gerente_nacional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>IdAnalisereprovado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdAnalisereprovado</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0055A000008puvc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proprietario_vendedor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Cotacao__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_o_Enviar_notifica_o_personalizada_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decis_o</name>
        <label>Decisão</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>negado_institui_es</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Financiamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSTITUIÇÕES FINANCEIRAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>voltando_para_novo</targetReference>
            </connector>
            <label>negado instituições</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifica_regio</name>
        <label>verifica região</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>compartilha_com_gerente_nacional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>regi_o_centro_leste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cotacao__r.Opportunity.Regiao_Nome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Região Jackeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_registros_2</targetReference>
            </connector>
            <label>Oeste - Leste</label>
        </rules>
        <rules>
            <name>BSB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cotacao__r.Opportunity.Regiao_Nome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Região Região Manuel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_compartilha_com_gerente_regional</targetReference>
            </connector>
            <label>BSB</label>
        </rules>
        <rules>
            <name>SULDESTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cotacao__r.Opportunity.Regiao_Nome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Região Orlando</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>compartilha_com_gerente_2322</targetReference>
            </connector>
            <label>SULDESTE</label>
        </rules>
        <rules>
            <name>NORTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cotacao__r.Opportunity.Regiao_Nome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Região Luckas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Criar_registros_3</targetReference>
            </connector>
            <label>NORTE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Corponotificanova</name>
        <dataType>String</dataType>
        <expression>&quot;A Análise de Crédito &quot;  +{!$Record.Name}+ &quot; foi negada. clique aqui para ter mais informações&quot;</expression>
    </formulas>
    <formulas>
        <name>corpovendedor</name>
        <dataType>String</dataType>
        <expression>&quot;A Análise de Crédito &quot;  +{!$Record.Name}+ &quot; foi negada.&quot;</expression>
    </formulas>
    <interviewLabel>Financiamento — reprovações {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financiamento — reprovações</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_compartilha_com_gerente_regional</name>
        <label>compartilha com gestor</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>atribui_gerente_BSB</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Regiao_bsb</elementReference>
            </value>
        </inputAssignments>
        <object>Analise_reprovada__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_2_de_Criar_registros_3</name>
        <label>compartilha com gerente</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>atribui_gerente_Norte</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Regiao_norte</elementReference>
            </value>
        </inputAssignments>
        <object>Analise_reprovada__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>compartilha_com_gerente_2322</name>
        <label>compartilha com gerente</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>atribui_gerente_Suldeste</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Regiao_sul</elementReference>
            </value>
        </inputAssignments>
        <object>Analise_reprovada__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>compartilha_com_gerente_nacional</name>
        <label>compartilha com gerente nacional</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Atribui_o_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>0055A000008puvc</stringValue>
            </value>
        </inputAssignments>
        <object>Analise_reprovada__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_Analise_reprovada</name>
        <label>Cria Analise reprovada</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>verifica_regio</targetReference>
        </connector>
        <inputAssignments>
            <field>Financiamento__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Analise_reprovada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_registros_2</name>
        <label>compartilha com gerente regional</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>atribui_gerente_centro_oeste_Atribui_o_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Cria_Analise_reprovada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Regiao_centro_oeste</elementReference>
            </value>
        </inputAssignments>
        <object>Analise_reprovada__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>voltando_para_novo</name>
        <label>voltando para novo</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Financiamento__c</field>
            <value>
                <stringValue>HOSPCOM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cria_Analise_reprovada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negado</stringValue>
            </value>
        </filters>
        <object>Financiamento__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IdAnalisereprovado</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>proprietario_vendedor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Regiao_bsb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005U4000000hRcr</stringValue>
        </value>
    </variables>
    <variables>
        <name>Regiao_centro_oeste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0056e00000CqadR</stringValue>
        </value>
    </variables>
    <variables>
        <name>Regiao_norte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0056e00000CqadR</stringValue>
        </value>
    </variables>
    <variables>
        <name>Regiao_sul</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005U4000002p3Ni</stringValue>
        </value>
    </variables>
</Flow>
