force-app/main/default/flows/item_do_feed_f_rias.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notifica_o</name>
        <label>notificação</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>corpoda_notificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>00531000006UzZsAAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>atribui_id</name>
        <label>atribui id</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00531000006UzZsAAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifica_o</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>corpoda_notificacao</name>
        <dataType>String</dataType>
        <expression>&quot;corpo &quot;</expression>
    </formulas>
    <formulas>
        <name>titulo</name>
        <dataType>String</dataType>
        <expression>{!titulo}</expression>
    </formulas>
    <interviewLabel>item do feed - férias {!$Flow.CurrentDateTime}</interviewLabel>
    <label>item do feed - férias</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>atribui_id</targetReference>
        </connector>
        <object>FeedItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
