force-app/main/default/flows/Item_da_Solicita_o_de_devolu_o_Verifica_pertence_ao_PV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Atribui_existe</name>
        <label>Atribui existe</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>existe</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vincula_produto_do_pedido</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Erro_produto_nao_pertencente</name>
        <label>Erro produto nao pertencente</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <customErrorMessages>
            <errorMessage>O pedido devolvido não possuí o código de produto informado. Verifique e tente novamente.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Verifica_existe</name>
        <label>Verifica existe</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Itera_produto_do_pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Existe_verifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Itera_produto_do_pedido.Codigo_fabricante__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.C_digo_do_produto_do_pedido__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_existe</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_se_o_atribui_existe</name>
        <label>Verifica encontrou o item</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Erro_produto_nao_pertencente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>encontrou</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Item da Solicitação de devolução — Verifica pertence ao PV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Item da Solicitação de devolução — Verifica pertence ao PV</label>
    <loops>
        <name>Itera_produto_do_pedido</name>
        <label>Itera produto do pedido</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Obtem_produtos_do_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verifica_existe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verifica_se_o_atribui_existe</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_produtos_do_pedido</name>
        <label>Obtem produtos do pedido</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itera_produto_do_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pedido__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Vincula_produto_do_pedido</name>
        <label>Vincula produto do pedido</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Produto_do_pedido__c</field>
            <value>
                <elementReference>Itera_produto_do_pedido.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_produtos_do_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>C_digo_do_produto_do_pedido__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Item_da_Solicita_o_de_devolu_o__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>existe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
