force-app/main/default/flows/Itens_requiridos_Atualiza_REQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>verifica_categoria</name>
        <label>verifica categoria</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFORMÁTICA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_REQ</targetReference>
            </connector>
            <label>TI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Itens requiridos — Atualiza REQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Itens requiridos — Atualiza REQ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_REQ</name>
        <label>Atualiza REQ</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requisi_o_Interna_Relacionada__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Algum_produto_da_TI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Requisi_o_Interna__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>verifica_categoria</targetReference>
        </connector>
        <object>Item_Requerido__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
