force-app/main/default/flows/Medida_de_temperatura_alertas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>C_pia_1_de_C_pia_1_de_notifica_m_xima</name>
        <label>NOTIFICA CAIO</label>
        <locationX>666</locationX>
        <locationY>1355</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>verifica_atividade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDCAIO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>minima_umidade_alerta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_1_de_C_pia_1_de_umidade_notifica_maxima</name>
        <label>NOTIFICA CAIO</label>
        <locationX>358</locationX>
        <locationY>1955</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>atualiza</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDCAIO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulo_atividade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_Atividade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_1_de_C_pia_2_de_notifica_m_xima</name>
        <label>NOTIFICA MURILO (QUALIDADADE)</label>
        <locationX>886</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>verificaUnidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDMURILO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_maxima_temp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_1_de_notifica_m_xima</name>
        <label>Cópia 1 de notifica máxima</label>
        <locationX>886</locationX>
        <locationY>1139</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>C_pia_2_de_verificaUnidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDMURILO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>minima_umidade_alerta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_1_de_notifica_minima</name>
        <label>NOTIFICA CAIO (MS)</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>verifica_umidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDCAIO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_da_notificacao_de_minima_temp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_1_de_umidade_notifica_maxima</name>
        <label>NOTIFICA MURILO (QUALIDADE)</label>
        <locationX>578</locationX>
        <locationY>1739</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>C_pia_2_de_C_pia_2_de_verificaUnidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulo_atividade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_Atividade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_2_de_umidade_notifica_maxima</name>
        <label>NOTIFICA CAIO</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>verifica_atividade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDCAIO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Alerta_maxima_umidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>C_pia_3_de_notifica_m_xima</name>
        <label>NOTIFICA CAIO</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>verifica_umidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDCAIO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_maxima_temp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>notifica_humidade_maxima</name>
        <label>umidade notifica maxima</label>
        <locationX>270</locationX>
        <locationY>1139</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>C_pia_1_de_C_pia_2_de_verificaUnidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDMURILO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Alerta_maxima_umidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>notifica_minima</name>
        <label>notifica minima</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>C_pia_1_de_verificaUnidade</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IDMURILO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulotemperaturaminima</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_da_notificacao_de_minima_temp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>atribui_id</name>
        <label>atribui id</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00531000007i4eW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDCAIO</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005U4000004aZeT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDMURILO</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00531000007i4eW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>verifica_temperaturas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C_pia_1_de_C_pia_2_de_verificaUnidade</name>
        <label>Cópia 1 de Cópia 2 de verificaUnidade</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>verifica_atividade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_C_pia_2_de_verificaUnidadeNotifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015A00001yGbVZQA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_umidade_notifica_maxima</targetReference>
            </connector>
            <label>Cópia 1 de Cópia 2 de verificaUnidadeNotifica</label>
        </rules>
        <rules>
            <name>OPME_GO_UM_MAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002y3EilAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estoque OPME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifica_atividade</targetReference>
            </connector>
            <label>OPME_GO_UM_MAX</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_1_de_verificaUnidade</name>
        <label>Cópia 1 de verificaUnidade</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>verifica_umidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_verificaUnidadeNotifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015A00001yGbVZQA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_notifica_minima</targetReference>
            </connector>
            <label>Cópia 1 de verificaUnidadeNotifica</label>
        </rules>
        <rules>
            <name>OPME_ABC_GOMIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002y3EilAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estoque OPME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifica_umidade</targetReference>
            </connector>
            <label>OPME_ABC_GO</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_2_de_C_pia_2_de_verificaUnidade</name>
        <label>VERIFICA UNIDADE (EMPRESA)</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>atualiza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_C_pia_2_de_verificaUnidadeNotifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015A00001yGbVZQA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_C_pia_1_de_umidade_notifica_maxima</targetReference>
            </connector>
            <label>Cópia 2 de Cópia 2 de verificaUnidadeNotifica</label>
        </rules>
        <rules>
            <name>OPME_ATIVIDADE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002y3EilAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estoque OPME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualiza</targetReference>
            </connector>
            <label>OPME_ATIVIDADE</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_2_de_verificaUnidade</name>
        <label>Cópia 2 de verificaUnidade</label>
        <locationX>886</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>verifica_atividade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_verificaUnidadeNotifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015A00001yGbVZQA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_C_pia_1_de_notifica_m_xima</targetReference>
            </connector>
            <label>Cópia 2 de verificaUnidadeNotifica</label>
        </rules>
        <rules>
            <name>OPME_GO_UM_MIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002y3EilAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estoque OPME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifica_atividade</targetReference>
            </connector>
            <label>OPME_GO_UM_MIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifica_atividade</name>
        <label>verifica atividade</label>
        <locationX>776</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>atualiza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>atividade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Atividade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_umidade_notifica_maxima</targetReference>
            </connector>
            <label>atividade</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifica_temperaturas</name>
        <label>verifica temperaturas</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>verifica_umidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>temperatura_minima</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Temperatura__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Temperatura_m_nima__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifica_minima</targetReference>
            </connector>
            <label>temperatura minima</label>
        </rules>
        <rules>
            <name>temperatura_maxima</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Temperatura__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Temperatura__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_C_pia_2_de_notifica_m_xima</targetReference>
            </connector>
            <label>temperatura maxima</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifica_umidade</name>
        <label>verifica umidade</label>
        <locationX>776</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>verifica_atividade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>maxima_umidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Umidade__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Sensor_de_Temperatura_e_Humidade__r.m_xima_umidade__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifica_humidade_maxima</targetReference>
            </connector>
            <label>maxima umidade</label>
        </rules>
        <rules>
            <name>minima_umidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Umidade__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Sensor_de_Temperatura_e_Humidade__r.M_nima_umidade__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_notifica_m_xima</targetReference>
            </connector>
            <label>minima umidade</label>
        </rules>
    </decisions>
    <decisions>
        <name>verificaUnidade</name>
        <label>verificaUnidade</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>verifica_umidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>verificaUnidadeNotifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015A00001yGbVZQA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_notifica_m_xima</targetReference>
            </connector>
            <label>verificaUnidadeNotifica</label>
        </rules>
        <rules>
            <name>OPME_ABC_GO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016e00002y3EilAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estoque OPME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifica_umidade</targetReference>
            </connector>
            <label>OPME_ABC_GO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Alerta_maxima_umidade</name>
        <dataType>String</dataType>
        <expression>&quot;Foi registrado um alerta de umidade em &quot; + {!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name} +&quot; -  &quot;+ 
TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c}) +&quot;. A umidade excedeu a máxima de  &quot; + TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.m_xima_umidade__c} )+ &quot;%,  chegando à &quot; +TEXT( {!$Record.Umidade__c} )+ &quot;%. Entre em contato com o responsável para verificar o motivo dessa máxima na umidade.&quot;</expression>
    </formulas>
    <formulas>
        <name>Corpo_Atividade</name>
        <dataType>String</dataType>
        <expression>&quot;O sensor da  &quot; + {!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name} +&quot; -  &quot;+ 
TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c}) +&quot;, Voltou a atividade.&quot;</expression>
    </formulas>
    <formulas>
        <name>Corpo_da_notificacao_de_minima_temp</name>
        <dataType>String</dataType>
        <expression>&quot;Foi registrado um alerta de temperatura em &quot; + {!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name} +&quot; -  &quot;+ 
TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c}) +&quot;.  A baixo da  temperatura mínima de  &quot; + TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Temperatura__c} )+ &quot;°C,  chegando à &quot; +TEXT( {!$Record.Temperatura__c} )+ &quot;°C. Entre em contato com o responsável para verificar o motivo dessa mínima na temperatura.&quot;</expression>
    </formulas>
    <formulas>
        <name>Corpo_maxima_temp</name>
        <dataType>String</dataType>
        <expression>&quot;Foi registrado um alerta de temperatura em &quot; + {!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name} +&quot; -  &quot;+ 
TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c}) +&quot;. A temperatura excedeu a máxima de  &quot; + TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Temperatura__c} )+ &quot;°C,  chegando à &quot; +TEXT( {!$Record.Temperatura__c} )+ &quot;°C. Entre em contato com o responsável para verificar o motivo dessa máxima na temperatura.&quot;</expression>
    </formulas>
    <formulas>
        <name>minima_umidade_alerta</name>
        <dataType>String</dataType>
        <expression>&quot;Foi registrado um alerta de umidade em &quot; + {!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name} +&quot; -  &quot;+ 
TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.Local_instalado__c}) +&quot;. A umidade  está abaixo de  &quot; + TEXT({!$Record.Sensor_de_Temperatura_e_Humidade__r.M_nima_umidade__c} )+ &quot;%,  chegando à &quot; +TEXT( {!$Record.Umidade__c} )+ &quot;%. Entre em contato com o responsável pela unidade  &quot; + {!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name} +&quot; para verificar o motivo dessa máxima na umidade.&quot;</expression>
    </formulas>
    <formulas>
        <name>titulo_atividade</name>
        <dataType>String</dataType>
        <expression>&quot;Sensor ativo&quot;</expression>
    </formulas>
    <formulas>
        <name>titulotemperaturaminima</name>
        <dataType>String</dataType>
        <expression>&quot;ALERTA DE TEMPERATURA E UMIDADE: &quot; +{!$Record.Sensor_de_Temperatura_e_Humidade__r.Empresa__r.Name}</expression>
    </formulas>
    <interviewLabel>Medida de temperatura - alertas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medida de temperatura - alertas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>atualiza</name>
        <label>atualiza</label>
        <locationX>776</locationX>
        <locationY>2231</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sensor_de_Temperatura_e_Humidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Atividade__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperatura_registrada__c</field>
            <value>
                <elementReference>$Record.Temperatura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultima_Atualiza_o_de_temperatura__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Sensor_de_Temperatura_e_Umidade__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>atribui_id</targetReference>
        </connector>
        <object>Medida_de_Temperatura_e_Umidade__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDCAIO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Idluciana</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDMURILO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDRAFAELGONCALO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
