force-app/main/default/flows/Membro_simples_do_Evento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>528</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>cont2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decis_o_1</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>C_pia_1_de_erro</name>
        <label>Cópia 1 de erro</label>
        <locationX>528</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Este evento pode ter no máximo 20 participates.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>erro</name>
        <label>erro</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Este evento pode ter no máximo 15 participates.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decis_o_1</name>
        <label>Decisão 1</label>
        <locationX>528</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>quantidade_de_menbros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cont2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Reserva_de_Sala__r.Sala__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Showroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>erro</targetReference>
            </connector>
            <label>limite showroon</label>
        </rules>
        <rules>
            <name>limite_auditorio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cont2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Reserva_de_Sala__r.Sala__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auditório</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_erro</targetReference>
            </connector>
            <label>limite auditorio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Membro simples do Evento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membro do Evento simples  —  limita quantidade de participantes</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>busca_todos_os_membros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_o_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>busca_todos_os_membros</name>
        <label>busca todos os membros</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reserva_de_Sala__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reserva_de_Sala__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membro_do_evento_simples__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>busca_todos_os_membros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reserva_de_Sala__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Membro_do_evento_simples__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cont</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cont2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
