force-app/main/default/flows/MOV_Vincula_ativos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Desligamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desligamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ativos</targetReference>
            </connector>
            <label>Desligamento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MOV - Vincula ativos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOV - Vincula ativos</label>
    <loops>
        <name>inserindo_mov</name>
        <label>inserindo mov</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Ativos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checklist</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>checklist</name>
        <label>checklist</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>inserindo_mov</targetReference>
        </connector>
        <inputAssignments>
            <field>Ativo__c</field>
            <value>
                <elementReference>inserindo_mov.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Movimenta_o_de_Pessoas__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>inserindo_mov.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist_ativo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Ativos</name>
        <label>Ativos</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inserindo_mov</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>id_contato__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Colaborador__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContatoReponsavel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Colaborador__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_registro</targetReference>
        </connector>
        <object>Movimentacao_de_Pessoas__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
