force-app/main/default/flows/Movimenta_o_de_pessoas_Compartilha_com_karlla.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>A</name>
        <label>A</label>
        <locationX>794</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>B</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>C_pia_1_de_A</name>
        <label>Cópia 1 de A</label>
        <locationX>402</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>B</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>C_pia_2_de_A</name>
        <label>Cópia 2 de A</label>
        <locationX>1322</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>B</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>C_pia_3_de_A</name>
        <label>Cópia 3 de A</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>B</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>C_pia_4_de_A</name>
        <label>Cópia 4 de A</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>B</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>C_pia_5_de_A</name>
        <label>Cópia 5 de A</label>
        <locationX>530</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>B</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_status</name>
        <label>Verifica se tem Usuario</label>
        <locationX>554</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Verifica_se_tem_usuario_e_se_Vendedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>busca_usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>busca_usuario.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e6e000002JQQsAAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>compartilha_com_supervisor_comercial</targetReference>
            </connector>
            <label>Verifica se tem usuario e se é Vendedor</label>
        </rules>
    </decisions>
    <decisions>
        <name>tem_item</name>
        <label>tem item</label>
        <locationX>554</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>busca_usuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>tem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_checklist_dos_ativos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compartilhe_com_o_responsavel</targetReference>
            </connector>
            <label>tem</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Movimentação de pessoas —  Compartilha com karlla {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movimentação de pessoas —  Compartilha com karlla</label>
    <loops>
        <name>C_pia_2_de_Compartilhe_com_o_responsavel</name>
        <label>Cópia 2 de Compartilhe com o responsavel</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <collectionReference>Busca_checklist_dos_ativos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>C_pia_1_de_compartilhamento_com_o_responsavel_pelo_check_list</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Compartilhe_com_o_responsavel</name>
        <label>Compartilhe com o responsavel</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Busca_checklist_dos_ativos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>responsavel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>busca_usuario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_compartilhamento_com_o_responsavel_pelo_check_list</name>
        <label>Cópia 1 de compartilhamento com o responsavel pelo check list</label>
        <locationX>138</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>C_pia_2_de_Compartilhe_com_o_responsavel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C_pia_1_de_A</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>C_pia_2_de_Compartilhe_com_o_responsavel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>0055A000006JycN</stringValue>
            </value>
        </inputAssignments>
        <object>Checklist_ativo__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>compartilha_com_supervisor_comercial</name>
        <label>compartilha com supervisor comercial</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Compartilha_CheckList_do_ativo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>A</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>0055A000006JycN</stringValue>
            </value>
        </inputAssignments>
        <object>Movimentacao_de_Pessoas__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>compartilhamento_com_o_responsavel_pelo_check_list</name>
        <label>compartilhamento com o responsavel pelo check list</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Compartilhe_com_o_responsavel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C_pia_4_de_A</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Compartilhe_com_o_responsavel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>responsavel.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist_ativo__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Busca_checklist_dos_ativos</name>
        <label>Busca checklist dos ativos</label>
        <locationX>554</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tem_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movimenta_o_de_Pessoas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Checklist_ativo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>busca_usuario</name>
        <label>busca usuario</label>
        <locationX>554</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C_pia_2_de_A</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Colaborador__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Compartilha_CheckList_do_ativo</name>
        <label>Compartilha CheckList do ativo</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_2_de_Compartilhe_com_o_responsavel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C_pia_5_de_A</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0055A000006JycN</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Checklist_ativo__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>responsavel</name>
        <label>responsavel</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>compartilhamento_com_o_responsavel_pelo_check_list</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C_pia_3_de_A</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resposns_vel_pelo_checklist_do_ativo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>428</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_checklist_dos_ativos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126e000001pMJLAA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Empresa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IZU</stringValue>
            </value>
        </filters>
        <object>Movimentacao_de_Pessoas__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>B</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
