force-app/main/default/flows/Movimenta_o_de_Pessoas_Notifica_controladoria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_via_email</name>
        <label>Alerta via email</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notifica_via_salesforce</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Notifica_via_salesforce</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>controladoria2@hospcom.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Novo Desligamento - Executivo de contas </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Corpodamensagem</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alerta_via_email_membros_do_RH</name>
        <label>Alerta via email membros do RH</label>
        <locationX>930</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notifica_via_salesforce_RH_promo_o</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Notifica_via_salesforce_RH_promo_o</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>controladoria2@hospcom.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Novo Promoção </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Corpo_mensagem_RH_promocao</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifica_via_salesforce</name>
        <label>Notifica via salesforce</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Movimentação de pessoas </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpodamensagem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifica_via_salesforce_RH_promo_o</name>
        <label>Notifica via salesforce RH promoção</label>
        <locationX>930</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Movimentação de pessoas</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo_mensagem_RH_promocao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Atribui_ids</name>
        <label>Atribui ids</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_o_2</name>
        <label>Atribuição 2</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decis_o_1</name>
        <label>Decisão 1</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Notifica_controller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Colaborador__r.Tipo_de_premiass_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comissão</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_do_desligamento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Busca_controler</targetReference>
            </connector>
            <label>Notifica controller</label>
        </rules>
        <rules>
            <name>Notifica_RH_de_promo_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126e000001pMJGAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Motivo1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promoção (mudança de cargo)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Busca_Membros_do_RH</targetReference>
            </connector>
            <label>Notifica RH de promoção</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Corpo_mensagem_RH_promocao</name>
        <dataType>String</dataType>
        <expression>&quot;For favor construir comunicação interna de Colaborador Promovido: &quot;+
{!$Record.Colaborador__r.FirstName} + &quot; &quot; +  {!$Record.Colaborador__r.LastName} +  &quot;/ &quot; +  TEXT({!$Record.Novo_Cargo__c}) + &quot;/ &quot; + TEXT({!$Record.Data_da_altera_o__c})</expression>
    </formulas>
    <formulas>
        <name>Corpodamensagem</name>
        <dataType>String</dataType>
        <expression>&quot;For favor levantar comissões a receber do colaborador abaixo em 2 dias úteis para calculo de rescisão:&quot;+
 {!$Record.Colaborador__r.FirstName}+ &quot; &quot; + {!$Record.Colaborador__r.LastName} + &quot;/&quot; +  TEXT({!$Record.Colaborador__r.Cargo__c})+ &quot; /&quot; +  TEXT({!$Record.Data_do_desligamento__c})</expression>
    </formulas>
    <interviewLabel>Movimentação de Pessoas — Notifica controladoria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movimentação de Pessoas — Notifica controladoria</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Busca_controler</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alerta_via_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <collectionReference>Busca_Membros_do_RH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_o_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alerta_via_email_membros_do_RH</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_controler</name>
        <label>Busca controler</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e6e000002B2bg</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_Membros_do_RH</name>
        <label>Busca Membros do RH</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>assistente.rh@gestcombpo.com.br</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decis_o_1</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documentação/DP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando registro</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Movimentacao_de_Pessoas__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
