force-app/main/default/flows/Movimenta_o_de_Pessoas_Notifica_RH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_o_RH</name>
        <label>Notificação RH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ListaID01</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Formulário Respondido</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notificacao01</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>IDs01</name>
        <label>IDs01</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaID01</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00531000006UzZs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_o_RH</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Movimentação de Pessoas — Notifica RH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movimentação de Pessoas — Notifica RH</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IDs01</targetReference>
        </connector>
        <object>Movimentacao_de_Pessoas__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Notificacao01</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Uma nova resposta do formulário de Entrevista de Desligamento foi criada. Consulte através do link: https://docs.google.com/spreadsheets/d/1ROC33T-mBrg1hINDrgaXAsIpu8TX4k4Xxt8VwtxehVY/edit?gid=1454940455#gid=1454940455</text>
    </textTemplates>
    <variables>
        <name>ListaID01</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
