force-app/main/default/flows/Movimenta_o_de_Pessoas_Notifica_departamento_Pessoal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notifica_conversa_pj</name>
        <label>notifica conversa pj</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>corpo_notificapj</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idpj</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titulopj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>notifica_departamento_pessoal</name>
        <label>notifica departamento pessoal</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_list</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Documentação/DP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>corpodoemail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>notifica_rh</name>
        <label>notifica rh</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_list</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Novo aprovação de desligamento </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>corpoaguardo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>atribui_email</name>
        <label>atribui email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_list</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>rh@hospcom.net,financeiro@hospcom.net</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifica_rh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_atribui_email</name>
        <label>atribui email</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_list</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>rh@hospcom.net</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifica_rh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_atribui_email</name>
        <label>Cópia 2 de atribui email</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_list</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>rh@hospcom.net,financeiro@hospcom.net,departamentopessoal@gestcombpo.com.br</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifica_departamento_pessoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_3_de_atribui_email</name>
        <label>Cópia 3 de atribui email</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_list</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>rh@hospcom.net</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifica_departamento_pessoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>id_pj</name>
        <label>id pj</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>idpj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifica_conversa_pj</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C_pia_1_de_verifica_departamento</name>
        <label>Cópia 1 de verifica departamento</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>C_pia_3_de_atribui_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_Com_financeiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Empresa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IZU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_atribui_email</targetReference>
            </connector>
            <label>Cópia 1 de Com financeiro</label>
        </rules>
    </decisions>
    <decisions>
        <name>status</name>
        <label>status</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Aguardando_registro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando aprovação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verifica_departamento</targetReference>
            </connector>
            <label>Aguardando registro</label>
        </rules>
        <rules>
            <name>Documenta_ao_DP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentação/DP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Contrato__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_verifica_departamento</targetReference>
            </connector>
            <label>Documentaçao  DP</label>
        </rules>
        <rules>
            <name>PJ_doc_DP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentação/DP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Contrato__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>passa_para_pr_xima_faze</targetReference>
            </connector>
            <label>PJ doc DP</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifica_departamento</name>
        <label>verifica departamento</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_atribui_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Com_financeiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Empresa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IZU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribui_email</targetReference>
            </connector>
            <label>Com financeiro</label>
        </rules>
    </decisions>
    <description>Notifica departamento pessoal que o desligamento chegou a etapa Documentação/DP</description>
    <environments>Default</environments>
    <formulas>
        <name>corpo_notificapj</name>
        <dataType>String</dataType>
        <expression>&quot;O processo de desligamento &quot; + {!$Record.Name} + &quot; Foi aprovado pelo RH. &quot;+ BR()+
&quot;Pode proceder com a conversa  desligamento!&quot;</expression>
    </formulas>
    <formulas>
        <name>corpoaguardo</name>
        <dataType>String</dataType>
        <expression>&quot;Existe um registro de desligamento para ser aprovado. Numero do registro: &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>corpodoemail</name>
        <dataType>String</dataType>
        <expression>&quot;O desligamento &quot; + {!$Record.Name}+ &quot; chegou na etapa de  Documentação/DP. O Departamento Pessoal deverá anexar a documentação referente ao aviso prévio.  &lt;br/&gt;&quot;+BR()+&quot; Segue link para visualização do desligamento: &quot; + &quot;https://hospcom.my.site.com/Sales/s/movimentacao-de-pessoas/&quot;   + {!$Record.Id}

+BR()+BR()+
&quot;E-mail automático enviado pelo Salesforce.&quot;</expression>
    </formulas>
    <formulas>
        <name>titulopj</name>
        <dataType>String</dataType>
        <expression>&quot;Desligamento - &quot; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Movimentação de Pessoas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movimentação de Pessoas(Desligamento) - Notifica departamento Pessoal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>passa_para_pr_xima_faze</name>
        <label>passa para próxima faze</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>id_pj</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Conversa Deslig/Ass. Docume</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0126e000001pMJGAA2</stringValue>
            </value>
        </filters>
        <object>Movimentacao_de_Pessoas__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_list</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idpj</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
