force-app/main/default/flows/N_o_conformidade_vincula_Plano_de_A_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>asdfa</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>teste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Não conformidade - vincula Plano de Ação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_2_de_Compartilha_com_responsavel</name>
        <label>Cópia 2 de Compartilha com responsavel</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>Atribui_o_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Busca_usuario_responsavel.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Nao_Conformidade__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BUSCA_PLANO_DE_A_O</name>
        <label>BUSCA PLANO DE AÇÃO</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vincula_plano</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auditoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auditoria__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>P__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_usuario_responsavel</name>
        <label>Busca usuario responsavel</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_2_de_Compartilha_com_responsavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funcionario__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>C_pia_1_de_BUSCA_PLANO_DE_A_O</name>
        <label>Cópia 1 de BUSCA PLANO DE AÇÃO</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_1_de_vincula_plano</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auditoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auditoria__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relat_rio_Auditoria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>C_pia_1_de_vincula_plano</name>
        <label>Cópia 1 de vincula plano</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Busca_usuario_responsavel</targetReference>
        </connector>
        <inputAssignments>
            <field>Relat_rio_Auditoria__c</field>
            <value>
                <elementReference>C_pia_1_de_BUSCA_PLANO_DE_A_O.RA__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>vincula_plano</name>
        <label>vincula plano</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>C_pia_1_de_BUSCA_PLANO_DE_A_O</targetReference>
        </connector>
        <inputAssignments>
            <field>Plano_de_A_o__c</field>
            <value>
                <elementReference>BUSCA_PLANO_DE_A_O.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BUSCA_PLANO_DE_A_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U4000000uiPlIAI</stringValue>
            </value>
        </filters>
        <object>Nao_Conformidade__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>asdfa</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
