force-app/main/default/flows/N_o_conformidades_cria_a_o_corretiva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Nova_a_o_corretiva</name>
        <label>Nova ação corretiva</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>cria_compartilhamento</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>cria_compartilhamento</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML6e000000sY0XGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ação corretiva </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Uma não conformidade foi criada em seu nome. Click aqui para acessar  a ação corretiva para editar </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>a</name>
        <label>a</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>b</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>abbb</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>atribui_id</name>
        <label>atribui id</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>id_user</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nova_a_o_corretiva</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Não conformidades — cria ação corretiva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Não conformidades — cria ação corretiva</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_a_o_corretiva</name>
        <label>Cria ação corretiva</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>busca_usuario</targetReference>
        </connector>
        <inputAssignments>
            <field>Auditoria__c</field>
            <value>
                <elementReference>$Record.Auditoria__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RNC__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsevel__c</field>
            <value>
                <elementReference>$Record.Funcionario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_a_o_corretiva__c</field>
            <value>
                <stringValue>Corretiva</stringValue>
            </value>
        </inputAssignments>
        <object>Acao_corretiva__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cria_compartilhamento</name>
        <label>cria compartilhamento</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>a</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Obter_registros_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>busca_usuario.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Acao_corretiva__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>busca_usuario</name>
        <label>busca usuario</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_registros_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funcionario__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_registros_2</name>
        <label>Obter registros 2</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>atribui_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RNC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Acao_corretiva__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cria_a_o_corretiva</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <object>Nao_Conformidade__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>b</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_user</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>busca_usuario.Id</elementReference>
        </value>
    </variables>
</Flow>
