force-app/main/default/flows/Nota_fiscal_de_compra_Valor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>valorpedido</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>passa_por_todas_as_NFs.Valor_da_nota__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>passa_por_todas_as_NFs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Atribui_o_1</name>
        <label>Cópia 2 de Atribuição 1</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>valor_toral_do_pc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Pedido_de_Compra__r.Valor_total_do_pedido__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>valorpedido</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Valor_da_nota__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>verifica_se_valor_das_NFs_superior_ao_valor_do_pedido</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>verifica_se_valor_das_NFs_superior_ao_valor_do_pedido</name>
        <label>verifica se valor das NFs é superior ao valor do pedido</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>atualiza_pedido_valor_total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>maior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>valorpedido</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>valor_toral_do_pc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_atualiza_pedido_valor_total</targetReference>
            </connector>
            <label>maior</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Nota fiscal de compra — Valor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nota fiscal de compra — Valor</label>
    <loops>
        <name>passa_por_todas_as_NFs</name>
        <label>passa por todas as NFs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>busca_nfs_desse_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_o_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>C_pia_2_de_Atribui_o_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>busca_nfs_desse_pedido</name>
        <label>busca nfs desse pedido</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>passa_por_todas_as_NFs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pedido_de_Compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pedido_de_Compra__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lancada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Nota_fiscal_de_pedido_de_compra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualiza_pedido_valor_total</name>
        <label>atualiza pedido valor total</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pedido_de_Compra__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Valor_Total_Lan_ado__c</field>
            <value>
                <elementReference>valorpedido</elementReference>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_atualiza_pedido_valor_total</name>
        <label>Cópia 1 de atualiza pedido valor total</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pedido_de_Compra__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Valor_Total_Lan_ado__c</field>
            <value>
                <elementReference>valorpedido</elementReference>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>busca_nfs_desse_pedido</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lancada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Nota_fiscal_de_pedido_de_compra__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>valor_toral_do_pc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>valorpedido</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
