force-app/main/default/flows/Nota_Fiscal_data_de_la_amento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Nota Fiscal — data de laçamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nota Fiscal — data de laçamento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>pedido_de_compra_da_nf</name>
        <label>pedido de compra da nf</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>atualiza_pedido_de_compra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pedido_de_Compra__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualiza_nf</name>
        <label>atualiza nf</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Data_de_lan_amento__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>atualiza_pedido_de_compra</name>
        <label>atualiza pedido de compra</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>atualiza_nf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pedido_de_compra_da_nf.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DATA_DO_LAN_AMENTO_DA_Nfe__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pedido_de_compra_da_nf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lancada__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Nota_fiscal_de_pedido_de_compra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
