force-app/main/default/flows/Oportunidade_Cria_compromisso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Segundo_instrumentador</name>
        <label>Segundo instrumentador</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Terceiro_instrumentador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Possui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instrumentador_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Compromisso</targetReference>
            </connector>
            <label>Possui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terceiro_instrumentador</name>
        <label>Terceiro instrumentador</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_Possui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instrumentador_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Compromisso_2</targetReference>
            </connector>
            <label>Possui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidade — Cria compromisso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidade OPME — Cria compromisso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_Compromisso</name>
        <label>Compromisso 2</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Terceiro_instrumentador</targetReference>
        </connector>
        <inputAssignments>
            <field>Assunto_da_Visita__c</field>
            <value>
                <stringValue>Procedimento cirúrgico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descricao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>240.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instrumentador_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Data_e_hora_do_procedimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Procedimento cirúrgico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_1_de_Compromisso_2</name>
        <label>Compromisso 3</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Assunto_da_Visita__c</field>
            <value>
                <stringValue>Procedimento cirúrgico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descricao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>240.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instrumentador_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Data_e_hora_do_procedimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Procedimento cirúrgico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Compromisso</name>
        <label>Compromisso</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Segundo_instrumentador</targetReference>
        </connector>
        <inputAssignments>
            <field>Assunto_da_Visita__c</field>
            <value>
                <stringValue>Procedimento cirúrgico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descricao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>240.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instrumentador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Data_e_hora_do_procedimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Procedimento cirúrgico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Compromisso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Confirmado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </filters>
        <filters>
            <field>Confirmado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126e000001lAu7</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>descricao</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Referente a oportunidade OPME nº {!$Record.Numero_OP__c}.
Hospital: {!$Record.Account.Name}.
Nome do Médico: {!$Record.Medico__r.FirstName} {!$Record.Medico__r.LastName}
Nome do Paciente: {!$Record.Paciente__r.FirstName} {!$Record.Paciente__r.LastName}</text>
    </textTemplates>
</Flow>
