force-app/main/default/flows/OT_Data_de_t_rmino.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>verificaStatus</name>
        <label>verificaStatus</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>verificaServicoConcluido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SERVIÇO CONCLUÍDO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Data_de_fechamento</targetReference>
            </connector>
            <label>verificaServicoConcluido</label>
        </rules>
        <rules>
            <name>verificaAnaliseConcluida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANALISE CONCLUIDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Data_de_fechamento</targetReference>
            </connector>
            <label>verificaAnaliseConcluida</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hoje</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>OT — Data de término {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OT — Data de término</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>C_pia_1_de_Data_de_fechamento</name>
        <label>Cópia 1 de Data de fechamento</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_Data_de_fechamento</name>
        <label>Atualiza Campo Analise concluida em</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>analiseConcluida__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>verificaStatus</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
