force-app/main/default/flows/Pedido_Governo_notifica_Gest_Gov.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_Paula</name>
        <label>Notifica Paula</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Prazo de entrega próximo!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>corpoNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Atribui_Gerente_Gov</name>
        <label>Atribui Gerente Gov</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005U4000005cvFJIAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_Paula</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verifica_10_dias</name>
        <label>Verifica 10 dias</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>X10_dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quantidadeDiasEntrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_Gov</targetReference>
            </connector>
            <label>10 dias</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>quantidadeDiasEntrega</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.Data_de_Entrega2__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Pedido — Governo notifica Paula {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Governo notifica Gestora Gov</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_10_dias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Departamento3__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Governo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>corpoNotificacao</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;O prazo de entrega do pedido {!$Record.OrderNumber} finaliza em 10 dias.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>destinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
