force-app/main/default/flows/Pedido_Pendencia_de_Instalacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Contagem</name>
        <label>Contagem</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>quantidadeDePendencias</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pendencias_do_pedido</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Necessario_Treinamento</name>
        <label>Necessario Treinamento</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>COMERCIAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Necess_rio_Treinamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Departamento3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quantidadeDePendencias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pendencia</targetReference>
            </connector>
            <label>COMERCIAL</label>
        </rules>
        <rules>
            <name>GOVERNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Necess_rio_Treinamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Departamento3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quantidadeDePendencias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Pendencia</targetReference>
            </connector>
            <label>GOVERNO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hojeMais10</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 10</expression>
    </formulas>
    <interviewLabel>Pedido — Pendência de Instalação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Pendência de Instalação</label>
    <loops>
        <name>Pendencias_do_pedido</name>
        <label>Pendencias do pedido</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <collectionReference>Pend_ncia</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contagem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Necessario_Treinamento</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_Pend_ncia_governo</name>
        <label>Pendencia</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Assunto__c</field>
            <value>
                <stringValue>Treinamento/Instalação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <stringValue>00531000006UzZs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departamento__c</field>
            <value>
                <stringValue>Serviço</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pedido__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_Finalizacao__c</field>
            <value>
                <elementReference>hojeMais10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <stringValue>005i0000005fX0c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Instalação</stringValue>
            </value>
        </inputAssignments>
        <object>Pendencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>C_pia_1_de_Pendencia</name>
        <label>Pendência governo</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Assunto__c</field>
            <value>
                <stringValue>Treinamento/Instalação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <stringValue>00531000006UzZs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departamento__c</field>
            <value>
                <stringValue>Serviço</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes__c</field>
            <value>
                <stringValue>Pendência criada automaticamente pelo sistema.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pedido__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_Finalizacao__c</field>
            <value>
                <elementReference>hojeMais10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <stringValue>0055A00000Apw8D</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Instalação</stringValue>
            </value>
        </inputAssignments>
        <object>Pendencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pendencia</name>
        <label>Pendencia</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <faultConnector>
            <targetReference>C_pia_1_de_Pend_ncia_governo</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Assunto__c</field>
            <value>
                <stringValue>Treinamento/Instalação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <stringValue>00531000006UzZs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departamento__c</field>
            <value>
                <stringValue>Serviço</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes__c</field>
            <value>
                <stringValue>Pendência criada automaticamente pelo sistema.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pedido__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_Finalizacao__c</field>
            <value>
                <elementReference>hojeMais10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>$Record.Vendedor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Instalação</stringValue>
            </value>
        </inputAssignments>
        <object>Pendencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Pend_ncia</name>
        <label>Pendências do pedido</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pendencias_do_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pedido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instalação</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pendencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pend_ncia</targetReference>
        </connector>
        <filterLogic>1 OR  (2 AND 3)</filterLogic>
        <filters>
            <field>Faturado__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>quantidadeDePendencias</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
