force-app/main/default/flows/Pedido_Cl_usulas_de_Demo_Comodato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Qualifica_o_Editada</name>
        <label>Qualificação Editada</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>X1_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>N_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qualificacao_Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualificacao</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X10_Editada</name>
        <label>10 Editada</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>X11_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula10Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X10</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X11_Editada</name>
        <label>11 Editada</label>
        <locationX>182</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>X12_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula11Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X11</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X12_Editada</name>
        <label>12 Editada</label>
        <locationX>182</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>X13_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula12Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X12</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X13_Editada</name>
        <label>13 Editada</label>
        <locationX>182</locationX>
        <locationY>3923</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula13Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X13</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_Editada</name>
        <label>1 Editada</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>X2_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula1Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_Editada</name>
        <label>2 Editada</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>X4_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Naov2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula2Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X4_Editada</name>
        <label>4 Editada</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>X5_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula4Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5_Editada</name>
        <label>5 Editada</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>X6_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula5Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X6_Editada</name>
        <label>6 Editada</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>X7_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula6Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X7_Editada</name>
        <label>7 Editada</label>
        <locationX>182</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>X8_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_ClausulaEditada7__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X8_Editada</name>
        <label>8 Editada</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>X9_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula8Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X8</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>X9_Editada</name>
        <label>9 Editada</label>
        <locationX>182</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>X10_Editada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Clausula9Editada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dadosCliente</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Account.CNPJ__c} != null,  &apos;&lt;b&gt;&apos; + {!$Record.Account.Raz_o_Social__c} +  &apos;&lt;/b&gt;, pessoa jurídica de direito &apos; + {!DIREITO} + &apos; inscrita no CNPJ/MF sob o nº &apos; +  {!$Record.Account.CNPJ__c} + &apos;, sediada na &apos; + {!$Record.Account.BillingStreet} + &apos;, &apos; + {!$Record.Account.BillingCity} + &apos; - &apos; + {!$Record.Account.BillingState} + &apos;, CEP: &apos; + {!$Record.Account.BillingPostalCode} + &apos;, por seu(s) representante(s) legais abaixo assinado(s), doravante denominado(a) simplesmente &lt;b&gt; CLIENTE&lt;/b&gt;.&apos;,  &apos;&lt;b&gt;&apos;  + {!$Record.Account.FirstName} + &apos; &apos; + {!$Record.Account.LastName}   + &apos;&lt;/b&gt;, pessoa física inscrita no CPF sob o n.º &apos; + {!$Record.Account.CPF__pc} + &apos;, RG: &apos; + {!$Record.Account.RG__pc} + &apos; residente à &apos; + {!$Record.Account.BillingStreet} + &apos;, &apos; + {!$Record.Account.BillingCity} + &apos; - &apos; +{!$Record.Account.BillingState} + &apos;, CEP: &apos; + {!$Record.Account.BillingPostalCode} + &apos;, abaixo assinado(s), doravante denominado(a) &lt;b&gt; CLIENTE&lt;/b&gt;&apos; )</expression>
    </formulas>
    <formulas>
        <name>demo_ou_comodato</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Natureza_de_Opera_o__c}) = &apos;REMESSA DE COMODATO&apos;, &apos;comodato&apos;, &apos;demonstração&apos;)</expression>
    </formulas>
    <formulas>
        <name>DIREITO</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!$Record.Account.Ownership}) = &apos;PUBLICO&apos;, &apos;público&apos;, &apos;privado&apos;)</expression>
    </formulas>
    <formulas>
        <name>valortotal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Pedido — Cláusulas de Demo/Comodato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Cláusulas de Demo/Comodato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Qualificacao</name>
        <label>Qualificacao</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>X1_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Qualificacao__c</field>
            <value>
                <elementReference>qualificacao_a</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X1</name>
        <label>1</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>X2_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula1__c</field>
            <value>
                <elementReference>clausula1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X10</name>
        <label>10</label>
        <locationX>50</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>X11_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula10__c</field>
            <value>
                <elementReference>clausula10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X11</name>
        <label>11</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>X12_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula11__c</field>
            <value>
                <elementReference>clausula11</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X12</name>
        <label>12</label>
        <locationX>50</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>X13_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula12__c</field>
            <value>
                <elementReference>clausula12</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X13</name>
        <label>13</label>
        <locationX>50</locationX>
        <locationY>4031</locationY>
        <inputAssignments>
            <field>Demo_Clausula13__c</field>
            <value>
                <elementReference>clausula13</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2</name>
        <label>2</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>X4_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula2__c</field>
            <value>
                <elementReference>clausula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4</name>
        <label>4</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>X5_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula4__c</field>
            <value>
                <elementReference>clausula4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X5</name>
        <label>5</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>X6_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula5__c</field>
            <value>
                <elementReference>clausula5</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X6</name>
        <label>6</label>
        <locationX>50</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>X7_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula6__c</field>
            <value>
                <elementReference>clausula6</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X7</name>
        <label>7</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>X8_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula7__c</field>
            <value>
                <elementReference>clausula7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X8</name>
        <label>8</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>X9_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula8__c</field>
            <value>
                <elementReference>clausula8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X9</name>
        <label>9</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>X10_Editada</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Clausula9__c</field>
            <value>
                <elementReference>clausula9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Qualifica_o_Editada</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.RecordType.Name} == &apos;Demonstração&apos;,
OR(
ISNEW(),
OR(
ISCHANGED({!$Record.Data_da_demonstracao__c}),
ISCHANGED({!$Record.dataTerminoDemonstracao__c}),
ISCHANGED({!$Record.Faturamento_Feito__c})
)
)
)</filterFormula>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>clausula1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;1.&lt;/b&gt; Conforme descritivo abaixo, nos próximos dias serão remetidos ao CLIENTE equipamentos de propriedade da {!$Record.Faturamento_Feito__r.Name}, conforme explicativo abaixo:&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula10</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;10.&lt;/b&gt; Em caso de danos ou deterioração, no todo ou em parte dos equipamentos, por dolo ou culpa do/a CLIENTE, estará sujeita a pagar à {!$Record.Faturamento_Feito__r.Name} o valor dos reparos para recuperação dos equipamentos ao seu estado original, ou o valor total do equipamento no caso de deterioração ou perda total.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula11</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;11.&lt;/b&gt; Em caso de impedimento na retirada e/ou atraso da CLIENTE na devolução ou disponibilização do equipamento para retirada, a {!$Record.Faturamento_Feito__r.Name} poderá cobrar o valor de multa de 10% (dez por cento) do valor do equipamento, além de 1% (um por cento) por dia de atraso, além dos impostos incidentes sobre a operação em conformidade com legislação vigente.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula12</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;12.&lt;/b&gt; Os termos e condições acima narrados são condições indispensáveis à disponibilização e remessa dos equipamentos.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula13</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;13.&lt;/b&gt; A inobservância de quaisquer dos itens acima e da boa-fé empregada na remessa para {!demo_ou_comodato}, representa ônus e despesas para esta empresa, tendo em vista o seu desgaste perante os demais clientes interessados nos equipamentos e autuações do fisco.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;2.&lt;/b&gt; Os acessórios que acompanham os produtos enviados são informados através de toda a documentação emitida, sendo controlados internamente e verificados na sua chegada através de check-list de acessórios e equipamentos e demais documentações necessárias, caso em que será identificado e reconhecido o recebimento destes nas perfeitas condições de uso em que foram entregues, já caracterizados e informados na documentação encaminhada ao CLIENTE.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;3.&lt;/b&gt; O valor dos equipamentos perfaz o total de &lt;b&gt; {!valortotal}&lt;/b&gt;, referente ao itens declarados no item 1 destes termos e condições para {!demo_ou_comodato}.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;4.&lt;/b&gt; A partir do ato de retirada ou recebimento dos produtos por si ou seus prepostos, o destinatário assume a posse do bem e todos os riscos referentes a danos e perecimento, os quais correrão por sua conta e risco, isentando a {!$Record.Faturamento_Feito__r.Name} de responsabilidades em quaisquer ressarcimentos, reparos e garantias em razão de danos ocasionados por falha, imprudência ou imperícia na retirada, remoção, içamento, carregamento, transporte, acondicionamento, guarda, uso ou qualquer outro evento fora da esfera de atuação e responsabilidade da {!$Record.Faturamento_Feito__r.Name}.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;5. &lt;/b&gt;O transporte dos equipamentos deverá ser efetuado por empresa apta e com as licenças, permissões ou autorizações para o desenvolvimento de suas atividades perante os órgãos municipais, estaduais e federais, inclusive ANVISA.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula6</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;
&lt;b&gt;6.&lt;/b&gt; Para perfeita fruição dos benefícios dos mesmos, o/a CLIENTE deverá: &lt;/div&gt;&lt;br/&gt;
            &lt;div style=&quot;margin-left:140px;&quot;&gt;I - Preparar a área onde serão instalados; &lt;/div&gt;
            &lt;div style=&quot;margin-left:140px;&quot;&gt;II - Manter os equipamentos em boas condições e em perfeito estado de conservação, para que no momento da devolução sejam entregues nas mesmas condições do momento do recebimento;  &lt;/div&gt;
            &lt;div style=&quot;margin-left:140px;&quot;&gt;III - Utilizar os equipamentos exclusivamente em suas instalações situadas no endereço supra, observando as condições adequadas de uso e não permitindo sua operação por pessoas não qualificadas;&lt;/div&gt;
            &lt;div  style=&quot;margin-left:140px;&quot;&gt;IV - Não onerar ou gravar de ônus os equipamentos, de modo que, no final do prazo estipulado, o referido equipamento seja restituído à esta empresa em perfeito estado de conservação e uso.&lt;/div&gt;
            &lt;br/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula7</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;7.&lt;/b&gt; Findo o período de {!demo_ou_comodato}, o/a CLIENTE deverá devolver os equipamentos à {!$Record.Faturamento_Feito__r.Name}, permitindo que ela os retire. Caso desejem adquiri-los, deverá comunicar ao departamento comercial da {!$Record.Faturamento_Feito__r.Name} e, até que o contrato de compra e venda seja assinado, cumprir com estes termos e condições.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula8</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div class=&quot;paragrafo2&quot;&gt;&lt;b&gt;8.&lt;/b&gt; Para todos os efeitos, informamos que o período de {!demo_ou_comodato} está agendado do dia {!$Record.Data_da_demonstracao__c} até o dia {!$Record.Data_de_termino__c}, nesta última data os equipamentos deverão estar livres e desimpedidos para total retirada.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>clausula9</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div style=&quot;text-align:justify&quot;&gt;&lt;b&gt;9.&lt;/b&gt; Ressaltamos que o/a CLIENTE não poderá, no todo ou em parte, transferir a terceiros os direitos e obrigações decorrentes da(o) presente {!demo_ou_comodato}, sem concordância prévia da {!$Record.Faturamento_Feito__r.Name}.&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>qualificacao_a</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;HOSPCOM EQUIPAMENTOS HOSPITALARES LTDA&lt;/strong&gt;, pessoa jurídica de direito privado, inscrita no CNPJ sob n.º 05.743.288/0001-08, sediada na RUA 104, 74, , SETOR SUL, GOIANIA - Goiás, CEP: 74.083-300, doravante denominada simplesmente &lt;strong&gt;HOSPCOM &lt;/strong&gt;e, de outro lado, &lt;/p&gt;&lt;p&gt;{!dadosCliente}&lt;/p&gt;&lt;p&gt;Têm entre si justo e acertado os presentes termos e condições de remessa gratuita de equipamento para &lt;strong&gt;&lt;u&gt;{!demo_ou_comodato}&lt;/u&gt;&lt;/strong&gt;, que se regerá pelas cláusulas e condições a seguir delineadas.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
