force-app/main/default/flows/Pedido_Atualiza_credito_utilizado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Atribui_Credito_Utilizado</name>
        <label>Atribui Credito Utilizado</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CreditoUtilizadoValor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Credito_Utilizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditoUtilizadoValor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_credito_utilizado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Atribui_Credito_Utilizado</name>
        <label>Subtrai Credito Utilizado</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CreditoUtilizadoValor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Credito_Utilizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditoUtilizadoValor</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_credito_utilizado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verifica_Ativo_ou_cancelado</name>
        <label>Verifica Ativo ou cancelado</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Atualiza_credito_utilizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Ativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Credito_Utilizado</targetReference>
            </connector>
            <label>Ativo</label>
        </rules>
        <rules>
            <name>Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Atribui_Credito_Utilizado</targetReference>
            </connector>
            <label>Cancelado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pedido — Atualiza credito utilizado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Atualiza credito utilizado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_credito_utilizado</name>
        <label>Atualiza credito utilizado</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credito_Utilizado__c</field>
            <value>
                <elementReference>CreditoUtilizadoValor</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_Ativo_ou_cancelado</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Forma_de_pagamento_3__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Boleto Bancário</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditoUtilizadoValor</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
