force-app/main/default/flows/Pedido_Insere_gerentes_da_demo_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Adiciona</name>
        <label>Adiciona</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SURGICAL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adiciona2</name>
        <label>Adiciona</label>
        <locationX>4362</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OUTROS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_J</name>
        <label>Atribui Gerente GO MT TO</label>
        <locationX>50</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CqadR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_L</name>
        <label>Atribui Gerente DF</label>
        <locationX>578</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000009kaWL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_Luckas</name>
        <label>Atribui Gerente Norte</label>
        <locationX>842</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000000nivy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_O</name>
        <label>Atribui Gerente SP</label>
        <locationX>314</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000009hhEL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_MTMS</name>
        <label>Atribui MTMS</label>
        <locationX>1370</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000AXHIt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_10_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>3834</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NEONAT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_11_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>4098</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MGMQTD</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_12_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IVD</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VETERINARIA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorIVD</name>
        <label>GestorMIS</label>
        <locationX>578</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000004aVMMIA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PMLS2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorIVD2</name>
        <label>GestorMIS2</label>
        <locationX>842</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000004aVMMIA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PMLS2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorMGM2</name>
        <label>GestorIVD2</label>
        <locationX>842</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000008XcI1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VETERINARIA_MIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorSURGICAL</name>
        <label>GestorSURGICAL2</label>
        <locationX>842</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CeNKN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WULTRASSOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorULTRASSOM</name>
        <label>GestorULTRASSOM2</label>
        <locationX>842</locationX>
        <locationY>2531</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000000HdL8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VIAS_AEREAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorVIASAEREAS</name>
        <label>GestorVIASAEREAS2</label>
        <locationX>842</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000CYV0rIAH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAMASS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PMLS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Atribui_Gerente_Norte</name>
        <label>Atribui Gerente RESUL</label>
        <locationX>1106</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000009kaWL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_GestorCAMA</name>
        <label>GestorCAMA2</label>
        <locationX>842</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000CYV0rIAH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_CAMAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_GestorENDOSCOPIA</name>
        <label>GestorENDOSCOPIA2</label>
        <locationX>842</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CeNKN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NEONA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_GestorNEONAT2</name>
        <label>GestorMGM2</label>
        <locationX>842</locationX>
        <locationY>4631</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000009hhnh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OUTROSS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_GestorPM2</name>
        <label>GestorCMIELET2</label>
        <locationX>842</locationX>
        <locationY>3731</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000002p3Ni</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_CMI_ELET</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_GestorPMLS</name>
        <label>GestorCAMA</label>
        <locationX>578</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000CYV0rIAH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_CAMAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_3_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ULTRASSOM</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_3_de_GestorPMLS</name>
        <label>GestorNEONAT</label>
        <locationX>578</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CqadR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MGMM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_4_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VIASAEREASDIFICEIS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_5_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MIS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_6_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>2778</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CAMASHOSPITALARES</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_7_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>3042</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PMS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_8_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CMIELETROCIRURGIA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_9_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>3570</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ENDOSCOP</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorCMIELET</name>
        <label>GestorCMIELET</label>
        <locationX>578</locationX>
        <locationY>3731</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000002p3Ni</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C_pia_1_de_CMI_ELET</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorENDOSCOPIA</name>
        <label>GestorENDOSCOPIA</label>
        <locationX>578</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CeNKN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NEONA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorIVD</name>
        <label>GestorIVD</label>
        <locationX>578</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000008XcI1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VETERINARIA_MIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorMGM</name>
        <label>GestorMGM</label>
        <locationX>578</locationX>
        <locationY>4631</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000009hhnh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OUTROSS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorNEONAT2</name>
        <label>GestorNEONAT2</label>
        <locationX>842</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CqadR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MGMM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorOUTROS</name>
        <label>GestorOUTROS</label>
        <locationX>622</locationX>
        <locationY>4931</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A000008puvcQAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GERENTE_REGIONAL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorPM</name>
        <label>GestorPM</label>
        <locationX>578</locationX>
        <locationY>3431</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000003hgFB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMI_ELET</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorPM2</name>
        <label>GestorPM2</label>
        <locationX>842</locationX>
        <locationY>3431</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000003hgFB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMI_ELET</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorPMLS</name>
        <label>GestorPMLS</label>
        <locationX>710</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000CYV0r</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SURGICAL1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorSURGICAL</name>
        <label>GestorSURGICAL</label>
        <locationX>578</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CeNKN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WULTRASSOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorULTRASSOM</name>
        <label>GestorULTRASSOM</label>
        <locationX>578</locationX>
        <locationY>2531</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000Ctbcv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VIAS_AEREAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorVETERINARIA</name>
        <label>GestorVETERINARIA</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000003STa1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VET_IVD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorVETERINARIA2</name>
        <label>GestorVETERINARIA2</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000003STa1IAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>VET_IVD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorVIASAEREAS</name>
        <label>GestorVIASAEREAS</label>
        <locationX>578</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000CYV0rIAH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAMASS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C_pia_1_de_CAMAS</name>
        <label>PMS</label>
        <locationX>842</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>CMI_ELET</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_5_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorPM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_5_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorPM2</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_1_de_CMI_ELET</name>
        <label>ENDOSCOPIA</label>
        <locationX>842</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>NEONA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_6_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ENDOSCOP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorENDOSCOPIA</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_6_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ENDOSCOP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_GestorENDOSCOPIA</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAMASS</name>
        <label>CAMAS</label>
        <locationX>842</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_CAMAS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_4_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAMASHOSPITALARES</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_GestorPMLS</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_4_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CAMASHOSPITALARES</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_GestorCAMA</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMI_ELET</name>
        <label>CMI/ELET</label>
        <locationX>842</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_CMI_ELET</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_7_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMIELETROCIRURGIA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorCMIELET</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_7_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMIELETROCIRURGIA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_GestorPM2</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>GERENTE_REGIONAL</name>
        <label>GERENTE REGIONAL</label>
        <locationX>842</locationX>
        <locationY>5123</locationY>
        <defaultConnector>
            <targetReference>GestoresAtt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>REGI_O_GO_MT_TO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_J</targetReference>
            </connector>
            <label>REGIÃO GO/TO</label>
        </rules>
        <rules>
            <name>REGI_O_O</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_O</targetReference>
            </connector>
            <label>REGIÃO SP</label>
        </rules>
        <rules>
            <name>REGI_O_L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_L</targetReference>
            </connector>
            <label>REGIÃO DF</label>
        </rules>
        <rules>
            <name>REGI_O_LUCKAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_Luckas</targetReference>
            </connector>
            <label>REGIÃO NORTE</label>
        </rules>
        <rules>
            <name>RESUL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Atribui_Gerente_Norte</targetReference>
            </connector>
            <label>RESUL</label>
        </rules>
        <rules>
            <name>REGI_O_MT_MS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_MTMS</targetReference>
            </connector>
            <label>REGIÃO MT/MS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linha</name>
        <label>Linha</label>
        <locationX>2646</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Adiciona2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SURGICAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adiciona</targetReference>
            </connector>
            <label>SURGICAL</label>
        </rules>
        <rules>
            <name>V2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VETERINÁRIA PMLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Adiciona</targetReference>
            </connector>
            <label>VETERINÁRIA PMLS</label>
        </rules>
        <rules>
            <name>VETERINARIA_IVD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VETERINÁRIA IVD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_12_de_Adiciona</targetReference>
            </connector>
            <label>VETERINARIA IVD</label>
        </rules>
        <rules>
            <name>MISv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VETERINÁRIA MIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_5_de_Adiciona</targetReference>
            </connector>
            <label>VETERINÁRIA MIS</label>
        </rules>
        <rules>
            <name>P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Adiciona</targetReference>
            </connector>
            <label>PMLS</label>
        </rules>
        <rules>
            <name>U</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IMAGEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_Adiciona</targetReference>
            </connector>
            <label>ULTRASSOM</label>
        </rules>
        <rules>
            <name>VA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIAS AÉREAS DIFÍCEIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_4_de_Adiciona</targetReference>
            </connector>
            <label>VIAS AEREAS DIFICEIS</label>
        </rules>
        <rules>
            <name>CAMAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAMAS HOSPITALARES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_6_de_Adiciona</targetReference>
            </connector>
            <label>CAMAS</label>
        </rules>
        <rules>
            <name>PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_7_de_Adiciona</targetReference>
            </connector>
            <label>PM</label>
        </rules>
        <rules>
            <name>ELET_CMI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIRURGIA MINIMAMENTE INVASIVA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Produto.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ELETROCIRURGIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_8_de_Adiciona</targetReference>
            </connector>
            <label>ELET/CMI</label>
        </rules>
        <rules>
            <name>ENDOSCOPIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENDOSCOPIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_9_de_Adiciona</targetReference>
            </connector>
            <label>ENDOSCOPIA</label>
        </rules>
        <rules>
            <name>NEONATOLOGIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEONATOLOGIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_10_de_Adiciona</targetReference>
            </connector>
            <label>NEONATOLOGIA</label>
        </rules>
        <rules>
            <name>MGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MONITORES DE GRAU MEDICO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_11_de_Adiciona</targetReference>
            </connector>
            <label>MGM</label>
        </rules>
    </decisions>
    <decisions>
        <name>MGMM</name>
        <label>MGM</label>
        <locationX>842</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>OUTROSS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_11_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MGMQTD</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorMGM</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_11_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MGMQTD</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_GestorNEONAT2</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>NEONA</name>
        <label>NEONATOLOGIA</label>
        <locationX>842</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>MGMM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_9_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEONAT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_GestorPMLS</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_9_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEONAT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorNEONAT2</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>OUTROSS</name>
        <label>OUTROS</label>
        <locationX>842</locationX>
        <locationY>4823</locationY>
        <defaultConnector>
            <targetReference>GERENTE_REGIONAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_8_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OUTROS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorOUTROS</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_8_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OUTROS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GERENTE_REGIONAL</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMLS2</name>
        <label>PMLS</label>
        <locationX>842</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>SURGICAL1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMLS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GestorPMLS</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <decisions>
        <name>SURGICAL1</name>
        <label>SURGICAL</label>
        <locationX>842</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>WULTRASSOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SIM2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SURGICAL</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorSURGICAL</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SURGICAL</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorSURGICAL</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>VET_IVD</name>
        <label>VET IVD</label>
        <locationX>842</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>VETERINARIA_MIS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_12_de_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IVD</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorIVD</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>C_pia_12_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IVD</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorMGM2</targetReference>
            </connector>
            <label>Cópia 12 de SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>VETERINARIA_MIS</name>
        <label>VETERINARIA MIS</label>
        <locationX>842</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>PMLS2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_10_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MIS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorIVD</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_10_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MIS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorIVD2</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIAS_AEREAS</name>
        <label>VIAS AEREAS</label>
        <locationX>842</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>CAMASS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_3_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIASAEREASDIFICEIS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorVIASAEREAS</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_3_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIASAEREASDIFICEIS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorVIASAEREAS</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>VVETERINARIA</name>
        <label>VETERINARIA PMLS</label>
        <locationX>842</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>VET_IVD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VETERINARIA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorVETERINARIA</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_2_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VETERINARIA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorVETERINARIA2</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WULTRASSOM</name>
        <label>ULTRASSOM</label>
        <locationX>842</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>VIAS_AEREAS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ULTRASSOM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorULTRASSOM</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_1_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ULTRASSOM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorULTRASSOM</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pedido — Insere gerentes da demo V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Insere gerentes da demo V2</label>
    <loops>
        <name>Produto</name>
        <label>Produto</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <collectionReference>Produtos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Linha</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VVETERINARIA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Produtos</name>
        <label>Produtos</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>GestoresAtt</name>
        <label>Gestores</label>
        <locationX>842</locationX>
        <locationY>5423</locationY>
        <inputAssignments>
            <field>Gerente__c</field>
            <value>
                <elementReference>Gestor1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gerente_de_linha_2__c</field>
            <value>
                <elementReference>Gestor2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gerente_regional__c</field>
            <value>
                <elementReference>GerenteRegional</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Produtos</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando Aprovação Comercial</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CAMASHOSPITALARES</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CMIELETROCIRURGIA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ENDOSCOP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GerenteRegional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gestor1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gestor2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IVD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MGMQTD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MIS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NEONAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OUTROS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PMLS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PMS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SURGICAL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ULTRASSOM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VETERINARIA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VIASAEREASDIFICEIS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
