force-app/main/default/flows/Pedido_Compartilha_com_gerente_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>C_pia_2_de_Erro</name>
        <label>Cópia 2 de Erro</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>err0</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>erro</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Erro</name>
        <label>Erro</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>err0</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>erro</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Gerente_2</name>
        <label>Gerente 2</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Possui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gerente_de_linha_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compartilha2</targetReference>
            </connector>
            <label>Possui</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pedido — Compartilha com gerente 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Compartilha com gerente 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Compartilha</name>
        <label>Compartilha</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Gerente_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C_pia_2_de_Erro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OrderAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Gerente__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Compartilha2</name>
        <label>Compartilha</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Erro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OrderAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Gerente_de_linha_2__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Compartilha</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Gerente__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gerente_de_linha_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>err0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
