force-app/main/default/flows/Pedido_Insere_gerentes_da_demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Adiciona</name>
        <label>Adiciona</label>
        <locationX>666</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>SURGICAL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adiciona2</name>
        <label>Adiciona</label>
        <locationX>1986</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>OUTROS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_J</name>
        <label>Atribui Gerente J</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055A000008puvc</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_L</name>
        <label>Atribui Gerente L</label>
        <locationX>578</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000000hRcr</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_Luckas</name>
        <label>Atribui Gerente Luckas</label>
        <locationX>842</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CqadR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Gerente_O</name>
        <label>Atribui Gerente O</label>
        <locationX>314</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>GerenteRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000CeKar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestoresAtt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>930</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>VETERINARIA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorOutros</name>
        <label>GestorOutros2</label>
        <locationX>578</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000DhPbN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VVETERINARIA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorSURGICAL</name>
        <label>GestorSURGICAL2</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000DhPbN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WULTRASSOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorULTRASSOM</name>
        <label>GestorULTRASSOM2</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000Ctbcv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VIAS_AEREAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ursula: 	005U4000004aVMMIA2</description>
        <name>C_pia_1_de_GestorVETERINARIA</name>
        <label>Attr MIS</label>
        <locationX>248</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GestorVETERINARIA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_GestorVIASAEREAS</name>
        <label>GestorVIASAEREAS2</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000EJYNM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>O0UTROS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1194</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>PMLS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_3_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1458</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>ULTRASSOM</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guilherme Bon. 005U4000003STa1IAG</description>
        <name>C_pia_3_de_GestorVETERINARIA</name>
        <label>attr PMLS</label>
        <locationX>512</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>Gestor2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005U4000003STa1IAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GestorVETERINARIA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_4_de_Adiciona</name>
        <label>Adiciona</label>
        <locationX>1722</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>VIASAEREASDIFICEIS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorOutros</name>
        <label>GestorOutros</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000DhPbN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VVETERINARIA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorPMLS</name>
        <label>GestorPMLS</label>
        <locationX>446</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U400000CYV0rIAH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SURGICAL1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorSURGICAL</name>
        <label>GestorSURGICAL</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000DhPbN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WULTRASSOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorULTRASSOM</name>
        <label>GestorULTRASSOM</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000Ctbcv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VIAS_AEREAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Isabella: 005U4000008XcI1IAK</description>
        <name>GestorVETERINARIA</name>
        <label>GestorVETERINARIA</label>
        <locationX>380</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U4000008XcI1IAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GERENTE_REGIONAL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GestorVIASAEREAS</name>
        <label>GestorVIASAEREAS</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>Gestor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056e00000EJYNM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>O0UTROS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GERENTE_REGIONAL</name>
        <label>GERENTE REGIONAL</label>
        <locationX>578</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>GestoresAtt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>REGI_O_J</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_J</targetReference>
            </connector>
            <label>REGIÃO J</label>
        </rules>
        <rules>
            <name>REGI_O_O</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_O</targetReference>
            </connector>
            <label>REGIÃO O</label>
        </rules>
        <rules>
            <name>REGI_O_L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_L</targetReference>
            </connector>
            <label>REGIÃO L</label>
        </rules>
        <rules>
            <name>REGI_O_LUCKAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Gerente_Luckas</targetReference>
            </connector>
            <label>REGIÃO LUCKAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linha</name>
        <label>Linha</label>
        <locationX>1326</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Adiciona2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SURGICAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adiciona</targetReference>
            </connector>
            <label>SURGICAL</label>
        </rules>
        <rules>
            <name>V</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VETERINÁRIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_Adiciona</targetReference>
            </connector>
            <label>VETERINÁRIA</label>
        </rules>
        <rules>
            <name>P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Adiciona</targetReference>
            </connector>
            <label>PMLS</label>
        </rules>
        <rules>
            <name>U</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IMAGEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_3_de_Adiciona</targetReference>
            </connector>
            <label>ULTRASSOM</label>
        </rules>
        <rules>
            <name>VA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIAS AÉREAS DIFÍCEIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_4_de_Adiciona</targetReference>
            </connector>
            <label>VIAS AEREAS DIFICEIS</label>
        </rules>
    </decisions>
    <decisions>
        <name>O0UTROS</name>
        <label>OUTROS</label>
        <locationX>578</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>VVETERINARIA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_4_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OUTROS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorOutros</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_4_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OUTROS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorOutros</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMLS2</name>
        <label>PMLS</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>SURGICAL1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMLS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GestorPMLS</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <decisions>
        <name>SURGICAL1</name>
        <label>SURGICAL</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>WULTRASSOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SIM2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SURGICAL</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorSURGICAL</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SURGICAL</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorSURGICAL</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>VET</name>
        <label>VET</label>
        <locationX>380</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>C_pia_3_de_GestorVETERINARIA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PMLS</defaultConnectorLabel>
        <rules>
            <name>MIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Produto.Product2.Linha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VETERINÁRIA MIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorVETERINARIA</targetReference>
            </connector>
            <label>MIS</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIAS_AEREAS</name>
        <label>VIAS AEREAS</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>O0UTROS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_3_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIASAEREASDIFICEIS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorVIASAEREAS</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_3_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIASAEREASDIFICEIS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorVIASAEREAS</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <decisions>
        <name>VVETERINARIA</name>
        <label>VETERINARIA</label>
        <locationX>578</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>GERENTE_REGIONAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VETERINARIA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>VET</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <decisions>
        <name>WULTRASSOM</name>
        <label>ULTRASSOM</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>VIAS_AEREAS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ULTRASSOM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GestorULTRASSOM</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
        <rules>
            <name>C_pia_1_de_SIM_Gestor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ULTRASSOM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gestor1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_GestorULTRASSOM</targetReference>
            </connector>
            <label>SIM Gestor2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pedido — Insere gerentes de demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Insere gerentes da demo</label>
    <loops>
        <name>Produto</name>
        <label>Produto</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <collectionReference>Produtos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Linha</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PMLS2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Produtos</name>
        <label>Produtos</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>GestoresAtt</name>
        <label>Gestores</label>
        <locationX>578</locationX>
        <locationY>3287</locationY>
        <inputAssignments>
            <field>Gerente__c</field>
            <value>
                <elementReference>Gestor1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gerente_de_linha_2__c</field>
            <value>
                <elementReference>Gestor2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gerente_regional__c</field>
            <value>
                <elementReference>GerenteRegional</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Produtos</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando Aprovação Comercial</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GerenteRegional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gestor1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gestor2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OUTROS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PMLS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SURGICAL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ULTRASSOM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VETERINARIA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VIASAEREASDIFICEIS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
