force-app/main/default/flows/Pedidos_de_Consum_vel_Alerta_faturamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>C_pia_2_de_Notifica</name>
        <label>Notifica</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Limpa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Execução</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textoHoje</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Cada_pedido.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifica</name>
        <label>Notifica</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Limpa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Atenção</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>texto5dias</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Cada_pedido.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ID_Kassio</name>
        <label>ID Mario</label>
        <locationX>528</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0056e00000CrEXi</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cada_pedido.Vendedor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cada_pedido.Vendedor__r.Gestor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inicio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limpa</name>
        <label>Limpa</label>
        <locationX>528</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Cada_pedido</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inicio</name>
        <label>Inicio</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Limpa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>X5_dias_antes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cada_pedido.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>hojeMaisCinco</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifica</targetReference>
            </connector>
            <label>5 dias antes</label>
        </rules>
        <rules>
            <name>no_dia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cada_pedido.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>hoje</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Notifica</targetReference>
            </connector>
            <label>No dia</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>hojeMaisCinco</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <name>texto5dias</name>
        <dataType>String</dataType>
        <expression>&apos;O pedido de consumível de comodato nº &apos; + {!Cada_pedido.OrderNumber} + &apos; deve ser faturado em 5 dias&apos;</expression>
    </formulas>
    <formulas>
        <name>textoHoje</name>
        <dataType>String</dataType>
        <expression>&apos;O pedido de consumível de comodato nº &apos; + {!Cada_pedido.OrderNumber} + &apos; deve ser faturado hoje&apos;</expression>
    </formulas>
    <interviewLabel>Pedidos de Consumível — Alerta faturamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedidos de Consumível — Alerta faturamento</label>
    <loops>
        <name>Cada_pedido</name>
        <label>Cada pedido</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Rascunhos_de_comodato</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ID_Kassio</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Rascunhos_de_comodato</name>
        <label>Rascunhos de comodato</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cada_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demonstracao__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </filters>
        <filters>
            <field>Natureza_de_Opera_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VENDA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rascunhos_de_comodato</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-01</startDate>
            <startTime>07:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
