force-app/main/default/flows/Pedido_Tempo_por_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Aprovacao_Comercial</name>
        <label>Aprovação Comercial</label>
        <locationX>776</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Aprovado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Aguardando_Aprov_Comercial</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando Aprovação Comercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InicioAgAprovComercial__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Inicio_Ag_Apr_Comercial</targetReference>
            </connector>
            <label>Aguardando Aprov Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aprovacao_Financeira</name>
        <label>Aprovação Financeira</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Aprovacao_Comercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Aguardando_Aprov_Financeira</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando Aprovação Financeira</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InicioAgAprovFinanceira__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Inicio_Aguardando_Aprov_Financ</targetReference>
            </connector>
            <label>Aguardando Aprov Financeira</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aprovado</name>
        <label>Aprovado</label>
        <locationX>776</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Ativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pedido_Aprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inicio_Aprovado</targetReference>
            </connector>
            <label>Pedido Aprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ativo</name>
        <label>Ativo</label>
        <locationX>776</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Em_Andamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pedido_Ativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_aprovado</targetReference>
            </connector>
            <label>Pedido Ativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>C_pia_2_de_Inicio_ativo_preenchido</name>
        <label>Inicio ativo preenchido?</label>
        <locationX>710</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_In_cio_Ativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>preenchido</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_nao_preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inicio_Ativo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inicio_Ativo_0</targetReference>
            </connector>
            <label>nao preenchido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Em_Andamento</name>
        <label>Em Andamento</label>
        <locationX>776</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Entregue_Atendido_Parcial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pedido_Em_Andamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em Andamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeAtivo</targetReference>
            </connector>
            <label>Pedido Em Andamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entregue_Atendido_Parcial</name>
        <label>Entregue/Atendido Parcial</label>
        <locationX>776</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Entregue_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pedido_Parcial</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregue Parcial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atendido Parcial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inicio_At_Ent_Parcial</targetReference>
            </connector>
            <label>Pedido Parcial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entregue_Total</name>
        <label>Entregue Total</label>
        <locationX>776</locationX>
        <locationY>2663</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pedido_Entregue_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregue Total</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parcial_nulo</targetReference>
            </connector>
            <label>Pedido Entregue Total</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inicio_ativo_preenchido</name>
        <label>Inicio ativo preenchido?</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>C_pia_1_de_In_cio_Ativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>preenchido</defaultConnectorLabel>
        <rules>
            <name>nao_preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inicio_Ativo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inicio_Ativo</targetReference>
            </connector>
            <label>nao preenchido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parcial_nulo</name>
        <label>Parcial != nulo</label>
        <locationX>578</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Final_Em_Andamento_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Parcial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inicio_At_Ent_Parcial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_At_Ent_Parcial</targetReference>
            </connector>
            <label>Parcial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_aprovado</name>
        <label>Se aprovado</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>C_pia_2_de_Inicio_ativo_preenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>seaprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inicio_Aprovado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inicio_ativo_preenchido</targetReference>
            </connector>
            <label>seaprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>SeAtivo</name>
        <label>Se Ativo</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Inicio_Em_Andamento_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SeAtv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inicio_Ativo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inicio_Em_Andamento_0_0</targetReference>
            </connector>
            <label>SeAtv</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Pedido — Tempo por Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido — Tempo por Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Nao preenche o inicio ativo, caso o mesmo ja esteja preenchido, ou seja, ja foi integrado este pedido.</description>
        <name>C_pia_1_de_In_cio_Ativo</name>
        <label>Início Ativo s/ preenchimento</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Em_Andamento</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Aprovado__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_In_cio_Ativo</name>
        <label>Início Ativo</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Em_Andamento</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_At_Ent_Parcial</name>
        <label>Final At/Ent Parcial</label>
        <locationX>446</locationX>
        <locationY>2879</locationY>
        <inputAssignments>
            <field>Final_At_Ent_Parcial__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_Em_Andamento_0</name>
        <label>Final Em Andamento</label>
        <locationX>710</locationX>
        <locationY>2879</locationY>
        <inputAssignments>
            <field>Final_Em_Andamento__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Ag_Apr_Comercial</name>
        <label>Inicio Ag Apr Comercial</label>
        <locationX>644</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Aprovado</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InicioAgAprovComercial__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Aguardando_Aprov_Financ</name>
        <label>Início Aguardando Aprov Financ</label>
        <locationX>644</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Aprovacao_Comercial</targetReference>
        </connector>
        <inputAssignments>
            <field>Final_Rascunho__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InicioAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Aprovado</name>
        <label>Inicio Aprovado</label>
        <locationX>644</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Ativo</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_Aprovado__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_At_Ent_Parcial</name>
        <label>Início At/Ent Parcial</label>
        <locationX>644</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Entregue_Total</targetReference>
        </connector>
        <inputAssignments>
            <field>Final_Em_Andamento__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_At_Ent_Parcial__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Ativo</name>
        <label>Início Ativo</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Em_Andamento</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Aprovado__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_Ativo__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Ativo_0</name>
        <label>Início Ativo</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Em_Andamento</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_Ativo__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Em_Andamento_0_0</name>
        <label>Início Em Andamento</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Entregue_Atendido_Parcial</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Ativo__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_Em_Andamento__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inicio_Em_Andamento_0_0_0</name>
        <label>Início Em Andamento</label>
        <locationX>710</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Entregue_Atendido_Parcial</targetReference>
        </connector>
        <inputAssignments>
            <field>FinalAgAprovFinanceira__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Aprovado__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_Em_Andamento__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aprovacao_Financeira</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reprovado</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
