force-app/main/default/flows/POP_Vincula_instru_o_de_servi_o_do_pop_vigente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>POP — Vincula instrução de serviço do pop vigente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POP — Vincula instrução de serviço do pop vigente</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Busca_Pop_comInstru_o</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cria_Pop_Com_instru_o</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_Pop_Com_instru_o</name>
        <label>Cria Pop Com instrução</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Instru_o_de_Servi_o__c</field>
            <value>
                <elementReference>Loop_1.Instru_o_de_Servi_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_1.Procedimento_Operacional_Padr_o__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedimento_Operacional_Padr_o__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>P_O_P_com_Instru_o_de_Servi_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Busca_Pop_comInstru_o</name>
        <label>Busca Pop com Instrução</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procedimento_Operacional_Padr_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedimento_em_vigencia__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>P_O_P_com_Instru_o_de_Servi_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_Pop_comInstru_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elaboração</stringValue>
            </value>
        </filters>
        <object>POP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
