force-app/main/default/flows/Produto_do_Pedido_Notifica_Faturamento_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>C_pia_2_de_Envia_wpp</name>
        <label>Envia wpp 2</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>sendWhatsapp.sendWpp</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>atualiza_pedido</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Variaveis2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendWhatsapp.sendWpp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Envia_wpp</name>
        <label>Envia wpp</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>sendWhatsapp.sendWpp</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>C_pia_2_de_Envia_wpp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Variaveis</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendWhatsapp.sendWpp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Atribui_vari_veis</name>
        <label>Atribui variáveis</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Variaveis.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variaveis.z0number</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6281292409</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variaveis2.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variaveis2.z0number</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6292281930</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envia_wpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Teste</name>
        <label>Teste</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>a</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>testeeeeee</name>
        <label>teste</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>tsteee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Notificado_Faturamento__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_vari_veis</targetReference>
            </connector>
            <label>tsteee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Produto do Pedido — Notifica Faturamento 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Produto do Pedido — Notifica Faturamento 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>atualiza_pedido</name>
        <label>atualiza pedido</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notificado_Faturamento__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Teste</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando Faturamento</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>testeeeeee</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pedido disponível para faturamento!

O pedido de número {!$Record.Order.Numero_do_Pedido__c} encontra-se disponível para faturar. Acesse-o no link: https://hospcom.my.site.com/Sales/s/order/{!$Record.OrderId}</text>
    </textTemplates>
    <variables>
        <name>a</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variaveis</name>
        <apexClass>ExternalService__sendWhatsapp_sendWpp_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variaveis2</name>
        <apexClass>ExternalService__sendWhatsapp_sendWpp_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
