force-app/main/default/flows/Protocolo_Alerta_atrasados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta</name>
        <label>Alerta</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Vencido</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idRecebedor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Atraso em protocolo.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Você está relacionado a um protocolo com atraso de recebimento. Verifique-os na guia Administrativo -&gt; Protocolos.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Vencido.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>idContatos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vencido.Recebido_por__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idContatos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vencido.Enviado_por__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_usuarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>id_recebedor</name>
        <label>id recebedor</label>
        <locationX>440</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>idRecebedor</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idRecebedor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Protocolo — Alerta atrasados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Protocolo — Alerta atrasados</label>
    <loops>
        <name>User</name>
        <label>User</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <collectionReference>Obter_usuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>id_recebedor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alerta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Vencido</name>
        <label>Vencido</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Vencidos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_usuarios</name>
        <label>Obter usuarios</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>idContatos</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Vencidos</name>
        <label>Vencidos</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vencido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Situacao__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>atrasado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Protocolo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vencidos</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-10</startDate>
            <startTime>11:06:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>a_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contatos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>idContatos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idRecebedor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
