force-app/main/default/flows/Protocolo_Envia_lembrete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_mensagem</name>
        <label>Envia mensagem</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>sendWhatsapp.sendWpp</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>variaveis</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendWhatsapp.sendWpp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Atribui</name>
        <label>Atribui</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>variaveis.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mensagem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variaveis.z0number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocolo.Recebido_por__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envia_mensagem</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Protocolo — Envia lembrete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Protocolo — Envia lembrete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Protocolo</name>
        <label>Protocolo</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Protocolo_Envia_lembrete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Protocolo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Protocolo_Envia_lembrete</name>
        <label>Protocolo — Envia lembrete</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atribui</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Enviar lembrete por WhatsApp&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mensagem</name>
            <defaultValue>
                <stringValue>{!msg}</stringValue>
            </defaultValue>
            <fieldText>Mensagem</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Protocolo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>msg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Olá! Por gentileza verifique o protocolo nº {!Protocolo.Name}, com prazo de recebimento em {!Protocolo.Prazo_de_recebimento__c}. Link para acesso no sistema: https://hospcom.my.site.com/Sales/s/protocolo/{!Protocolo.Id}
Isto é um disparo de mensagens automático do sistema.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variaveis</name>
        <apexClass>ExternalService__sendWhatsapp_sendWpp_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
