force-app/main/default/flows/PSQ_Atualiza_obsoletos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>PSQ - Atualiza obsoletos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSQ - Atualiza obsoletos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Altera_registro_em_vigencia</name>
        <label>Altera registro em vigencia</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Procedimento_do_Sistema_de_Qualidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Procedimento_do_Sistema_de_Qualidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Obsoleto</stringValue>
            </value>
        </inputAssignments>
        <object>PSQ__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Obsoletos</name>
        <label>Atualiza Obsoletos</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>tirando_vinculo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procedimento_do_Sistema_de_Qualidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedimento_do_Sistema_de_Qualidade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Obsoleto</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Procedimento_do_Sistema_de_Qualidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PSQ__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>tirando_vinculo</name>
        <label>tirando vinculo</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Altera_registro_em_vigencia</targetReference>
        </connector>
        <inputAssignments>
            <field>Procedimento_do_Sistema_de_Qualidade__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_Obsoletos</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em vigência</stringValue>
            </value>
        </filters>
        <object>PSQ__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
