force-app/main/default/flows/Recebimento_de_Produto_Atualizar_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>error</name>
        <label>erro</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>erro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sim</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quantidade_Ja_Recebida</name>
        <label>Quantidade Já Recebida</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>QtdRecebida</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Quantidade_recebida__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtdRecebida</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_IPC.Quantidade_Recebida__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecebidoParcial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recebido_Tudo</name>
        <label>Recebido Tudo</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Requisicao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Recebido_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_IPC.Quantidade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QtdRecebida</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recebido_Tota</targetReference>
            </connector>
            <label>Recebido Total</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecebidoParcial</name>
        <label>Recebido Parcial</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Recebido_Tudo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Recebido_mais_que_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtdRecebida</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QtdRecebida</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Obter_IPC.Quantidade__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recebido_Parcial</targetReference>
            </connector>
            <label>Recebido mais que 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_Req_sem_Req_Pai</name>
        <label>Se Req sem Req Pai</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ReqPai_nula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requisicao.Requisicao_pai__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Requisicao.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compra_Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReqPai</targetReference>
            </connector>
            <label>ReqPai nula</label>
        </rules>
    </decisions>
    <interviewLabel>Recebimento de Produto — Atualizar Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recebimento de Produto — Atualizar Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_IPC</name>
        <label>Obter IPC</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quantidade_Ja_Recebida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Item_de_pedido_de_compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Item_de_Cotacao.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Item_de_fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Item_de_Cotacao</name>
        <label>Obter Item de Cotação</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_IPC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requisicao_de_produto__r.Item_de_pedido_de_compra__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Item_de_pedido_de_compra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pedido</name>
        <label>Pedido</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Att_Pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_IPC.Fornecedor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fornecedor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ReqPai</name>
        <label>ReqPai</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserir_ReqPai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126e000001YbImAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item_de_pedido_de_compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Item_de_Cotacao.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requisicao_de_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requisicao</name>
        <label>Requisição</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_Req_sem_Req_Pai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requisicao_de_produto__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requisicao_de_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Att_Pedido</name>
        <label>Att Pedido</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pedido.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transportadora__c</field>
            <value>
                <elementReference>Pedido.Transportadora__c</elementReference>
            </value>
        </inputAssignments>
        <object>Fornecedor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Inserir_ReqPai</name>
        <label>Inserir ReqPai</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requisicao.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requisicao_pai__c</field>
            <value>
                <elementReference>ReqPai.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Requisicao_de_item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recebido_Parcial</name>
        <label>Recebido Parcial</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Recebido_Tudo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_IPC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Recebido Parcial</stringValue>
            </value>
        </inputAssignments>
        <object>Item_de_fornecedor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recebido_Tota</name>
        <label>Recebido Total</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Requisicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_IPC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Recebido Total</stringValue>
            </value>
        </inputAssignments>
        <object>Item_de_fornecedor__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Item_de_Cotacao</targetReference>
        </connector>
        <object>Recebimento_de_item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>erro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QtdRecebida</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
