force-app/main/default/flows/Recrutamento_admissao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Empresa</name>
        <label>Empresa</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Grupo_Hospcom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vaga_Dispon_vel__r.Empresa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IZU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_de_Admissao__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Data_de_Admissao__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPF_do_Candidato__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>admiss_o</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Grupo Hospcom</label>
        </rules>
        <rules>
            <name>IZU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vaga_Dispon_vel__r.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IZU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Data_de_Admissao__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Data_de_Admissao__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_1_de_admiss_o</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IZU</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Recrutamento — Cria contato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recrutamento — data de admissão</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>admiss_o</name>
        <label>admissão</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPF_do_Candidato__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admissao__c</field>
            <value>
                <elementReference>$Record.Data_de_Admissao__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_1_de_admiss_o</name>
        <label>Cópia 1 de admissão</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPF_do_Candidato__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admissao__c</field>
            <value>
                <elementReference>$Record.Data_de_Admissao__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empresa</targetReference>
        </connector>
        <object>Recrutamento__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
