force-app/main/default/flows/Requisi_o_Interna_Notifica_es.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_compras</name>
        <label>Notifica compras</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Requisição de compra aprovada.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Uma requisição de compra foi aprovada. Prossiga com a cotação.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ID_Compras</name>
        <label>ID Compras</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0056e00000DhKVOAA3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_compras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_Compras2</name>
        <label>ID Compras</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0056e00000CqjCK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notifica_compras</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Ag_compra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_da_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando compra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_req</targetReference>
            </connector>
            <label>Ag compra</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_req</name>
        <label>Tipo de req</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Notifica_compras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Consumo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produto(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serviço(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_Compras</targetReference>
            </connector>
            <label>Consumo</label>
        </rules>
        <rules>
            <name>Estoque</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compra para estoque revenda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compra para estoque locação/assistência</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Requisi_o__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compra para estoque OPME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_Compras2</targetReference>
            </connector>
            <label>Estoque</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Requisição Interna — Notificações {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Requisição Interna — Notificações</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_da_Requisi_o__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Requisi_o_Interna__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>req</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A requisição {!$Record.Name} teve sua cotação aprovada. Prossiga com a compra.</text>
    </textTemplates>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
