force-app/main/default/flows/Solicita_o_de_devolu_o_Cria_itens_devolvidos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Encontrou_Isd</name>
        <label>Encontrou Isd?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Obtem_itens_do_pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_ISDs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excluir_ISds</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_tipo</name>
        <label>Verifica tipo</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Parcial</defaultConnectorLabel>
        <rules>
            <name>Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtem_ISDs</targetReference>
            </connector>
            <label>Total</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Solicitação de devolução — Cria itens devolvidos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitação de devolução — Cria itens devolvidos</label>
    <loops>
        <name>Itera_Itens_pedido</name>
        <label>Itera Itens pedido</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <collectionReference>Obtem_itens_do_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>C_pia_1_de_Cria_item_da_solicitacao</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>C_pia_1_de_Cria_item_da_solicitacao</name>
        <label>Cria item da solicitacao</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Itera_Itens_pedido</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedido__c</field>
            <value>
                <elementReference>$Record.Pedido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto_do_pedido__c</field>
            <value>
                <elementReference>Itera_Itens_pedido.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>Itera_Itens_pedido.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicita_o_de_devolu_o__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Item_da_Solicita_o_de_devolu_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Excluir_ISds</name>
        <label>Excluir ISds</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Obtem_itens_do_pedido</targetReference>
        </connector>
        <inputReference>Obtem_ISDs</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Obtem_ISDs</name>
        <label>Obtem ISDs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Isd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Solicita_o_de_devolu_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Item_da_Solicita_o_de_devolu_o__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_itens_do_pedido</name>
        <label>Obtem itens do pedido</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itera_Itens_pedido</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pedido__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Faturado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando Coleta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entregue Cliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando conferência</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_tipo</targetReference>
        </connector>
        <object>Solicita_o_de_devolu_o__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>a</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>colecaoTamanho</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>limiteLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>tamanhoLista</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
