force-app/main/default/flows/solicita_o_de_devolu_o_criar_no_sap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>adicionar</name>
        <label>adicionar</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>acao.acao</actionName>
        <actionType>externalService</actionType>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditnotesId</name>
            <value>
                <elementReference>iddevolucao</elementReference>
            </value>
        </inputParameters>
        <nameSegment>acao.acao</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>atribuir</name>
        <label>atribuir</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>iddevolucao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adicionar</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>error</name>
        <label>error</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <customErrorMessages>
            <errorMessage>{!$Record.Id}error ao inserir dados no sap</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>chamar api para criar nota de devolução no sap</description>
    <environments>Default</environments>
    <interviewLabel>solicitação de devolução - criar no sap {!$Flow.CurrentDateTime}</interviewLabel>
    <label>solicitação de devolução - criar no sap</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integrando ao SAP</stringValue>
            </value>
        </filters>
        <object>Solicita_o_de_devolu_o__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>agendar_devolucao</name>
            <connector>
                <targetReference>atribuir</targetReference>
            </connector>
            <label>agendar-devolucao</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>iddevolucao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
