force-app/main/default/flows/Transferencia_Hospcoin_Valida_departamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Erro</name>
        <label>Erro</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível enviar Hospcoins para alguém do mesmo departamento que o seu!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Departamento</name>
        <label>Departamento</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Igual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carteira_Destinataria__r.Colaborador__r.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contato.Department</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro</targetReference>
            </connector>
            <label>Igual</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transferência Hospcoin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transferência Hospcoin — Valida departamento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contato</name>
        <label>Contato</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Departamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Nome_envio_externo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programa Valeu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nome_envio_externo__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Transfer_ncia_Hospcoin__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
