force-app/main/default/flows/Vagas_Disponiveis_Solicitacao_de_Equipamentos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Equipamentos</name>
        <label>Equipamentos</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Preenche_Campo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Solicitação de Equipamentos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SolicitaEquipamentos</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>willyan.arruda@hospcom.net, luiz.peixoto@hospcom.net</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Precisa_de_Celular_Notebook</name>
        <label>Precisa de Celular/Notebook</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Celular_Notebook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Necessita_Notebook__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Necessita_Celular__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipamentos</targetReference>
            </connector>
            <label>Celular/Notebook</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vagas Disponíveis — Solicitação de Equipamentos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vagas Disponíveis — Solicitação de Equipamentos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Preenche_Campo</name>
        <label>Preenche Campo</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>EquipamentosSolicitados__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Precisa_de_Celular_Notebook</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Divulgação da Vaga</stringValue>
            </value>
        </filters>
        <filters>
            <field>EquipamentosSolicitados__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vagas_Dispon_veis__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SolicitaEquipamentos</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Prezado,&lt;/p&gt;&lt;p&gt;Uma nova vaga de &lt;strong&gt;{!$Record.CargoFormula__c}&lt;/strong&gt; para a atuação em&lt;strong&gt; {!$Record.Local_de_Atua_o__c}&lt;/strong&gt; está em processo de recrutamento e o novo colaborador irá necessitar de:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Celular        —   &lt;strong&gt;{!$Record.Necessita_Celular__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Notebook   —   &lt;strong&gt;{!$Record.Necessita_Notebook__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
