force-app/main/default/flows/X5s_compartilha_com_auditado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifica_auditado</name>
        <label>Notifica auditado</label>
        <locationX>176</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5A0000004CA6WAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>id_auditado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Corpo_da_notificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Corpo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>atribui_ids</name>
        <label>atribui ids</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>id_auditado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pega_usu_rio_auditado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_Auditato</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pega_usu_rio_auditado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_auditado</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005U4000004aePe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compartilhamento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>verifica_se_h_usuario</name>
        <label>verifica se há usuario</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>verifica_se_h_usuarios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pega_usu_rio_auditado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pega_usu_rio_auditado.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribui_ids</targetReference>
            </connector>
            <label>verifica se há usuario</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Corpo</name>
        <dataType>String</dataType>
        <expression>&quot;Você acaba de ser auditado. acompanhe aqui sua auditoria 5S e fique por dentro de como foi sua avaliação. &quot;</expression>
    </formulas>
    <formulas>
        <name>Corpo_da_notificacao</name>
        <dataType>String</dataType>
        <expression>&quot;5s - Auditoria&quot;</expression>
    </formulas>
    <interviewLabel>5s - compartilha com auditado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>5s - compartilha com auditado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Compartilhamento</name>
        <label>Compartilhamento</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Notifica_auditado</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Notifica_auditado</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>id_Auditato</elementReference>
            </value>
        </inputAssignments>
        <object>X5S__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>pega_usu_rio_auditado</name>
        <label>pega usuário auditado</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>verifica_se_h_usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auditado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>X5S__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Caminho_agendado_1</name>
            <connector>
                <targetReference>pega_usu_rio_auditado</targetReference>
            </connector>
            <label>Caminho agendado 1</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>id_auditado</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_Auditato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
